<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>ABTT - <%= @title %></title>
  <link href="/main.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/icon-font.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <% if ENV["RAILS_ENV"] == 'development' %>
      <div style="float: left; font-size: 20pt; background-color: black; color: red;">DEVELOPMENT <br />ENVIRONMENT</div>
    <% end %>
    <%= link_to image_tag("/images/header.png"), root_url %>
  </div>
  <div class="login">
    <br/>(not logged in)
</div>
<table width="100%" height="100%" class="login-box">
    <tr><td align="center" valign="middle">
        <%= form_tag(:action => "login") do %>
            <table>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <strong>ABTT</strong>: please sign in
                        <% if(flash[:error]) %>
                            <div class="login-error"><%= flash[:error] %></div>
                        <% end %>
                        <% if flash[:notice] %>
                            <div class="login-notice"><%= flash[:notice] %></div>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td align="right">user:</td>
                    <td><%= text_field_tag("login", "", :size => 30) %></td>
                </tr>
                <tr>
                    <td align="right">password:</td>
                    <td><%= password_field_tag("password", "", :size => 30) %></td>
                </tr>
                <tr>
                    <td align="right">cookies:</td>
                    <td><%= radio_button_tag("remember_me", "1", true) %> Yes, please.<br/>
                        <%= radio_button_tag("remember_me", "0", false) %> Are you calling me fat?!</td>
                        </td>
                </tr>
         <% if iphone_user_agent? %>
                <tr>
                 <td align="right">iPhone:</td><td><%= check_box_tag :iphone, "awesome", true %></td>
                </tr>
         <% end %>

                <tr>
                    <td>&nbsp;</td>
                    <td><%= submit_tag("go") %></td>
                </tr>
        <% if session[:return_to] %>        
                <tr><td colspan=2><small>you might get redirected to <%= session[:return_to] %>, but nobody knows for sure...</small></td></tr>
                <% end %>
            </table>
        <% end %>
    </td></tr>
</table>

</body>
</html>
