<table class="generic">
  <tr><td width="70" align="right"><strong><%= f.label :date %>:</strong></td>
    <td><%= f.date_select :date %></td></tr>
  <tr><td width="70" align="right"><strong><%= f.label :memo %>:</strong></td>
    <td><%= f.text_field :memo, value: @invoice.event.organization.name + " - " + @invoice.event.title, size: 40 %></td></tr>
  <tr><td width="70" align="right"><strong><%= f.label :account_id, "Account" %>:</strong></td>
    <td>
      <%= f.radio_button :account_id, Account::Events_Account.id, :checked => true %> Event
      <%= f.radio_button :account_id, Account::Rentals_Credit_Account.id %> Rental
    </td>  
  </tr>
  <tr><td width="70" align="right"><strong><%= f.label :allocation_id, "Line Item" %>:</strong></td>
    <td>
      <%= f.select :allocation_id, options_from_collection_for_select(Allocation.where(year: Date.today.fiscal_year), "id", "line_item", Proc.new {|a| a.line_item == "Revenue"}), include_blank: true %>
    </td>
  </tr>
</table>