  <br>
  <b>Activities Board Technical Committee</b><br>
  5000 Forbes Avenue<br>
  UC Suite 103, Box 73<br>
  Pittsburgh, PA 15213<br>
  Phone: 412-268-2104<br>
  Fax: 412-268-5938<br>
</td>
<td>
  <table style="float:right;" class=prettyBorder >
  <tr><td colspan=2>
    <p align=center ><b><%= @invoice.status %></b></p>
  </td></tr>
  <tr><td>Date:</td><td><%= Time.now.strftime("%B %d, %Y") %></td></tr>
  <tr><td>Invoice Number:</td><td><%= @invoice.id %></td></tr>
  <tr><td>Prepared By:</td><td><%= current_member.fullname %></td></tr>
  </table>
</td>
<tr><td>
  <table style="float:right;" class=prettyBorder >
  <tr><td>Event:</td><td><%= @invoice.event.title  %></td></tr>
  <tr>
    <td>Venue:</td>
    <td>
      <ul class="pdf-venue-list">
        <% @invoice.event.locations.each do |location| %>
          <li><%= location %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr><td>Event Date:</td><td><%= @invoice.event.eventdates[0].startdate.strftime("%B %d, %Y") %></td></tr>
  <tr><td>Event Contact:</td><td><%= @invoice.event.contact_name %></td></tr>
  <tr><td>Phone:</td><td><%= @invoice.event.contact_phone %></td></tr>
  <tr><td>Organization:</td><td><%= @invoice.event.organization.name %></td></tr>
  <tr><td>Bill to Account:</td><td><b>
    <%= if @invoice.payment_type == "Oracle" and not @no_show_oracle then
      @invoice.oracle_string
    else
      @invoice.event.organization.name
    end %></b></td></tr>
  </table>
</td></tr>
<tr><td colspan=2>
<table class=prettyBorder align=center width=100% >
<tr><th>Qty</th><th>Category</th><th>Description</th><th>Unit Price</th><th>Extended Price</th></tr>
<% sum = 0 %>
<% @invoice.invoice_lines.sort_by(&:line_no).sort.each_with_index do |line, index| %>
  <% if index==0 %>
    <tr style="break-inside: auto">
      <% else %>
    <tr style="break-inside: avoid">
  <% end %>
    <td><%=line.quantity %></td>
    <td><%=line.category %></td>
    <td>
      <%=line.memo %>
      <% if line.notes.to_s.length > 0 then %>
        <br>
        <div class="pdf-line-notes">
          <%= simple_format line.notes %>
        </div>
      <% end %>
    </td>
    <td><%=number_to_currency(line.price) %></td>
    <td><%=number_to_currency(line.quantity * line.price) %></td>
    <% sum += (line.quantity * line.price) %>
  </tr>
<% end %>
<tr>
  <td colspan=3></td>
  <td><b>TOTAL:</b></td>
  <td><b><%= number_to_currency(sum) %></b></td>
</tr>

</table>
</table>
<% if @invoice.status == "Quote" then %>
  <p align=left>
  All quotes are estimates and subject to change as event needs change or unforeseen circumstances arise.</p>
<% elsif @invoice.status == "Invoice" then %>
  <% if @invoice.payment_type == "Check" %>
    <p align=left>
      Please make all checks payable to Carnegie Mellon University,
      with AB Tech listed in the memo field. Checks should be sent to
      5000 Forbes Ave. UC Box 73. Pittsburgh, PA 15213.
    </p>
  <% else %>
  <p align=left>
  If there are no issues with this invoice the above amount will automatically
  be transfered from your Oracle account by Kimberly L. Reynolds (klreynol@andrew.cmu.edu) within two weeks.</p>
  <% end %>
  <p align=left>
  AB Tech believes that fostering dialog between our clients and ourselves both before and after an event is the best way to
  ensure the success of future events, as well as improve the relationship between our organizations. As such, we welcome any
  comments or complaints you may have  about our services. Feedback may be directed to abtech@andrew.cmu.edu, or to (412)
  268-2104.</p>
  <p align=left>
  Thank you,<br>
  Head of Tech<br>
  AB Tech
  </p>
<% elsif @invoice.status == "Contract" then %>
  <p align=left>
  Please read the Contract Terms on the following page.
  </p>
  <div class=contract>
  <h2 align=center >Terms</h2>
  <ol>
  <li>For purposes of this Contract:
    <ol>
    <li>"Rental equipment" shall refer to any equipment rented by AB Tech on behalf of the Purchaser for use at the above-cited Event.
    <li>"Extended rentals" shall refer to rental of AB Tech equipment to Purchaser for periods of time where no AB Tech crewmember will supervise the use of AB Tech equipment by Purchaser.
    </ol>
  <li>While the quoted price is presented in good faith, AB Tech reserves the right to modify this quote to reflect any unexpected costs that may arise due to changes or miscommunications in required services, changes in prices of listed rental equipment, costs of emergency rental equipment, or supplemental fees (such as late or cancellation fees). AB Tech is responsible only for performing the services listed above.
  <li>Purchaser will receive a Final Cost Statement within a reasonable time after completion of the event.  Payment will be made within four weeks after receipt of the Final Cost Statement, or no less than one month before the end of the Fiscal Year, whichever is shorter.
    <ol>
    <li>Wherever possible, payment will be made via CMU Journal Entry from Purchaser's account to AB Tech's. If this is not possible, payment shall be made via business check or money order.</li>
    </ol>
  <li>Should the event be cancelled for reasons other than Acts of God, the Purchaser must notify AB Tech at least 48 hours prior to the event.
    <ol>
    <li>Notifications within 48 hours, but prior to 24 hours, of the event will incur a fee of 20% of the list cost plus the rental costs of any equipment already rented.
    <li>For notifications under 24 hours, the Purchaser will be billed the full cost of the event.  If the event is cancelled for any reason within 24 hours of the event, the Purchaser will be billed for the cost of rental equipment.
    <li>Cancellation due to weather considerations shall not be considered Acts of God. The Purchaser is encouraged to have an appropriate rain venue for outdoor events.
    </ol>
  <li>AB Tech reserves the sole and exclusive right to preside over all equipment and personnel, owned or responsible for, including rental equipment.
  <li>All equipment provided by AB Tech remains the property of AB Tech or, in the case of rental equipment, the renter. The Purchaser shall be liable for all damage to equipment provided by AB Tech, including rental equipment. Possible damage includes, but is not limited to, damage caused by inadequate security, power, and protection from the weather. Purchaser shall not be liable for damage determined by AB Tech to have been directly caused by crewmembers of AB Tech.
  <li>Purchaser shall be liable to AB Tech for the replacement cost of any equipment lost or stolen:
    <ol>
    <li>In the case of extended rentals to Purchaser, from the time the equipment is delivered to the Purchaser until it is returned to AB Tech
    <li>For all other events, from the time the equipment is loaded into the venue until it is loaded out by AB Tech
    <li>In the case of extended rentals, Purchaser shall return the equipment to AB Tech at the designated place and time. Otherwise, the equipment will be considered stolen.
    </ol>
  <li>The Purchaser is required to do the following:
    <ol>
    <li>Obtain all necessary permits, licenses, and contracts required by law and/or venue and provide copies of those documents to AB Tech.
    <li>Secure access to the venue by the time listed for Set-up.
    <li>Provide adequate security for the event.
    <li>Provide adequate security for all AB Tech personnel and equipment during the time required for setup, run, and strike.
    </ol>
  <li>In the case of an extended rental of AB Tech equipment, Purchaser agrees that they can and will safely and properly operate all components of the equipment. If, at any time, the Purchaser is unsure how to safely and properly operate the equipment, they shall contact AB Tech and halt all use of the equipment until AB Tech agrees to the continued use of the equipment.
  <li>AB Tech will not perform the listed services, or may stop the performance, if there exists a fire or electrical hazard, or any other hazard in any of the venues determined by AB Tech, police, maintenance, or safety officials to be dangerous to the audience, performers, or show personnel. AB Tech shall comply with all instructions given it by University officials or police, including turning off all systems upon demand. No price alteration will be given in this case.
  <li>AB Tech shall not be responsible for any items heretofore mentioned when prevented from doing so by an Act of God or any other legitimate conditions beyond the control of AB Tech.
  <li>AB Tech will provide enough manpower to perform the listed services, unless otherwise agreed upon.
  <li>The Contact for the Purchaser, in signing this contract, warrants that they sign as an agent of the Purchaser.
  <li>The Representative of AB Tech, in signing this contract, warrants that they sign as an agent of the Carnegie Mellon University Activities Board Technical Committee. The Representative assumes no personal responsibility for execution of this contract.
  <li>All amendments to this contract must be initialed and dated by both parties in written form.
  </ol>
  <table>
  <tr><td> ___________________________________</td><td>_________________________________</td></tr>
  <tr><td>AB Tech</td><td>Purchaser</td></tr>
  <tr><td>____________________________________</td><td>_________________________________</td></tr>
  <tr><td>Printed Name</td><td>Printed Name</td></tr>
  </table>
  </div>
<% elsif @invoice.status == "Loan Agreement" %>
  <p align=left>
  Please read the Contract Terms on the following page.
  </p>
  <div class="loan">
    <h2>Loan Agreement For AB Tech Equipment</h2>

    <p><b>This agreement</b>, made this <u><%= Time.new.day.ordinalize %></u> day of <u><%= Time.new.strftime("%B %Y") %></u> by and between AB Tech (the "Lender") and <u><%= @invoice.event.organization.name %></u> (the "Borrower").</p>

    <p><b>Witnesseth</b>, that the items listed above are loaned to the Borrower at the above agreed cost by the Lender for the period beginning on the <u><%= @invoice.event.eventdates.first.startdate.day.ordinalize %></u> day of <u><%= @invoice.event.eventdates.first.startdate.strftime("%B %Y") %></u> to the <u><%= @invoice.event.eventdates.first.enddate.day.ordinalize %></u> day of <u><%= @invoice.event.eventdates.first.enddate.strftime("%B %Y") %></u>.</p>

    <p><b>Witnesseth</b>, that the Borrower has suitable insurance or acceptable cash assets an amount equal to or greater than the replacement value of the items. Borrower shall indemnify and hold AB Tech harmless in the event the items are lost, stolen or destroyed in total or in part.</p>

    <p><b>Witnesseth</b>, that the "replacement value" for each item rented is listed above. The "replacement value" is to be paid in full to the Lender in case of loss, theft or damage as determined in the sole judgement of the Lender. A suitable replacement if offered, will be accepted in the Lender's sole discretion in lieu of the "replacement value".</p>

    <p><b>In witness whereof</b>, this agreement has been duly executed by the parties hereto.</p>

    <div id="parties-hereto">
      <div id="party-lender">
        <h2>AB Tech</h2>

        <p>Signature: ___________________________________</p>

        <p>Name: ___________________________________</p>

        <p>Title: ___________________________________</p>
      </div>

      <div id="party-borrower">
        <h2>Borrower</h2>

        <p>Signature: ___________________________________</p>

        <p>Name: ___________________________________</p>

        <p>Title: ___________________________________</p>

        <p>Organization: ___________________________________</p>
      </div>
    </div>
  </div>
<% end %>
