<h1>Invoices</h1>

<%= will_paginate @invoices %>

<table width="100%" border="0" class="generic">
  <tr>
    <th class="listheader" scope="col">Creation Date</th>
    <th class="listheader" scope="col">Invoice</th>
    <th class="listheader" scope="col">Event</th>
    <th class="listheader" scope="col">Amount</th>
  </tr>
  
  <% @invoices.sort{|x, y| y.created_at <=> x.created_at}.each do |invoice| %>
    <tr>
      <td class="list"><%= invoice.created_at.strftime("%B %d %Y") %></td>
      <td class="list"><%= link_to invoice.id, invoice %></td>
      <td class="list">
    <%= link_to(invoice.event.title, event_path(invoice.event)) %> (<%= invoice.event.status %>)
    </td>
      <% if can? :readprice, invoice %>
        <td class="list"><%= number_to_currency invoice.total %></td>
      <% else %>
        <td></td>
      <% end %>
  </tr>
  <% end %>
</table>

<%= will_paginate @invoices %>

<% content_for :more do %>
  <ul>
    <li><%= link_to "Edit preset invoice items", invoice_items_url %></li>
  </ul>
<% end %>
