<div id="dialog"></div>

<table width="50%" border="0" class="generic">
  <tr>
    <th colspan=2 class="invoice-header">Invoice Summary: <%= @invoice.memo %></th>
  </tr>
  
  <% if @invoice.event %>
    <tr>
      <td class="subheading">Event:</td>
      <td><%= link_to @invoice.event.title, @invoice.event %></td>
    </tr>
  <% end %>
  
  <tr>
    <td class="subheading">Invoice Creation Date:</td>
    <td><%= @invoice.created_at.strftime("%A, %B %d %Y, %I:%M %p") %></td>
  </tr>
  
  <tr>
    <td class="subheading">Status</td>
    <td><%= @invoice.status %></td>
  </tr>
  
  <tr>
    <td class="subheading">Payment Type:</td>
    <td><%= @invoice.payment_type %> <%= @invoice.oracle_string %></td>
  </tr>
  
  <% if can? :readprice, @invoice %>
    <tr>
      <td class="subheading">Invoice Total:</td>
      <td><%= number_to_currency @invoice.total %></td>
    </tr>
  <% end %>
</table>

<% if not @invoice.invoice_lines.empty? %>

  <table class="generic" width="50%">
    <thead>
      <tr>
        <th>Category</th>
        <th>Memo</th>
        <% if can? :readprice, @invoice %>
          <th>Unit Price</th>
        <% end %>
        <th>Quantity</th>
        <% if can? :readprice, @invoice %>
          <th>Total</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @invoice.invoice_lines.sort_by(&:line_no).sort.each do |line| %>
        <tr>
          <td><%= line.category %></td>
          <td>
            <%= line.memo %>
            <% if line.get_notes_with_defaults and not line.get_notes_with_defaults.empty? %>
              <%= simple_format line.get_notes_with_defaults %>
            <% end %>
          </td>
          <% if can? :readprice, @invoice %>
            <td><%= number_to_currency line.price %></td>
          <% end %>
          <td><%= line.quantity %></td>
          <% if can? :readprice, @invoice %>
            <td><%= number_to_currency line.total %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :more do %>
  <% if can? :readprice, @invoice %>
    <ul>
      <li><%= conditional_link_to "Edit", edit_invoice_url(@invoice), :edit, @invoice %></li>
      <li><%= conditional_link_to_blank "Preview", prettyView_invoice_url(@invoice), :show, @invoice %></li>
      <li><%= conditional_link_to_blank "Print", prettyView_invoice_url(@invoice, :format => "pdf"), :show, @invoice %></li>
      <% if @invoice.payment_type == "Oracle" %>
      <li><%= conditional_link_to_blank "Print without Oracle string", prettyView_invoice_url(@invoice, :no_show_oracle => 1, :format => "pdf"), :show, @invoice %></li>
      <% end %>
      <li><%= conditional_link_to_blank "Download", prettyView_invoice_url(@invoice, :download => 1, :format => "pdf"), :show, @invoice %></li>
      <% if @invoice.payment_type == "Oracle" %>
      <li><%= conditional_link_to_blank "Download without Oracle string", prettyView_invoice_url(@invoice, :download => 1, :no_show_oracle => 1, :format => "pdf"), :show, @invoice %></li>
      <% end %>
      <li><%= conditional_link_to_remote "Email", email_confirm_invoice_url(@invoice, :format => :js), :email, @invoice %></li>
      <li><%= conditional_link_to_delete "Delete", @invoice, :destroy, @invoice %></li>
    </ul>
  <% end %>
<% end %>
