<% if details %>
  <p>
    This timecard is for the period ending on
    <%= timecard.billing_date.strftime("%b %d, %Y") %> and
    <% timecard.submitted? ? "was" : "is" %> due on
    <%= timecard.due_date.strftime("%b %d, %Y") %>.
    This timecard is only for events between <%= timecard.start_date.strftime("%b %d") %> and <%= timecard.end_date.strftime("%b %d") %>.
  </p>
<% end %>

<table class="generic" border="1">
  <tr>
    <th>Event</th> <th>Start Date/Time</th> <th>Hours</th> <% unless !details or timecard.submitted or timecard.entries(member).empty? %><th></th><% end %>
  </tr>

  <% timecard.entries(member).each do |t| %>
    <tr>
      <%= render :partial => 'timecard_entries/timecard_entry', :object => t %>
      <% unless !details or timecard.submitted %>
        <td>
          <%= link_to 'Edit', edit_timecard_entry_path(t) %>
          <%= link_to 'Destroy', timecard_entry_path(t), :method => 'delete', data: {confirm: "Are you sure?"} %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <td><strong>Total</strong></td>
      <td></td>
      <td><%= timecard.entries(member).map(&:hours).reduce(0.0, &:+).round(2) %></td>
      <% unless timecard.entries(member).empty? %><th></th><% end %>
    </tr>
  </tfoot>
</table>
