<% @title = 'Timecards' %>
<h1>Timecards</h1>
<div>
<p>To prevent members from editing entries for a timecard, edit the
timecard and check the 'submitted' checkbox. The 'View all details' link
allows you to see the entries that everyone has submitted.</p>
</div>
<table class="generic" border="1">
<tr>
<th>Billing date</th>
<th>Due date</th>
<th>Total hours billed</th>
<th>Submitted</th>
<% if can? :view, Timecard or can? :update, Timecard or can? :destroy, Timecard %>
  <th>&nbsp;</th>
<% end %>
</tr>
<% @timecards.each do |timecard| %>
<tr>
<td><%= timecard.billing_date.strftime "%b %d, %Y" %></td>
<td><%= timecard.due_date.strftime "%b %d, %Y" %></td>
<td><%= timecard.hours %></td>
<td><%= timecard.submitted ? 'yes' : 'no' %></td>
<% if can? :view, Timecard or can? :update, Timecard or can? :destroy, Timecard %>
<td>
	<%= conditional_link_to 'View all details', view_timecard_url(timecard), :view, timecard %>
	<%= conditional_link_to 'Edit', edit_timecard_url(timecard), :update, timecard %>
	<%= link_to 'Destroy', timecard_url(timecard), :method => 'delete', :confirm => 'Are you sure?' if can? :destroy, timecard %>
</td>
<% end %>
</tr>
<% end %>
</table>

<% if can? :create, Timecard %>
  <% content_for :more do %>
    <ul>
      <li><%= link_to "Create a new timecard", new_timecard_path %></li>
    </ul>
  <% end %>
<% end %>