<% @title = 'Viewing timecard details' %>
<h1>Showing timecard</h1>
<p>This timecard is for the billing period ending on <%= @timecard.billing_date.strftime("%b %d, %Y") %> and <% if @timecard.submitted %>was<% else %>is<% end %> due on <%= @timecard.due_date.strftime("%b %d, %Y") %>.</p>

<% @timecard.members.each do |member| %>
  <h2>Timecard for <%= text_with_conditional_link_to member.display_name, member, :read, member %> (<%= number_to_currency member.payrate %>/hr)</h2>
<%= render :partial => 'timecard', :object => @timecard, :locals => {:member => member, :details => false} %>
<% end %>

<% content_for :more do %>
  <ul>
    <li><%= link_to "Back to list of timecards", timecards_path %></li>
  </ul>
<% end %>