<table width="100%" border="0">
    <tr>
        <th width="25" class="listheader">&nbsp;</th>
        <th width="60" class="listheader" scope="col"><div align="center">ID</div></th>
        <th width="125" class="listheader" scope="col">Name</th>
        <th width="175" class="listheader" scope="col">Information</th>
        <th class="listheader" scope="col">Permissions</th>
    </tr>
	
	<% @tmp = false %>
	<% Role.find(:all, :order => "name DESC").each do |role| %>
		<tr class="<%= @tmp ? "listentry1" : "listentry2" %>">
			<td class="list"><div align="right">
				<span class="listcontrollink">
					<%= link_to "show", role %><br />
					<%= link_to "edit", edit_role_path(role) %><br />
				</span>
			</div></td>

			<td class="list"><div align="center"><%= sprintf("%06d", role.id) %></div></td>
			<td class="list"><div align="left"><%= role.name %></div></td>
			<td class="list"><div align="left"><%= role.info %></div></td>
			<td class="list">
                <% role.permissions.each do |perm| %>
                    <%= perm.pattern %><br/>
                <% end %>
            </td>
		</tr>
		<% @tmp = !@tmp %>
	<% end %>
</table>

<%= button_to("new role", new_role_url) %>
