<% if @email_form.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@email_form.errors.count, "error") %> prohibited
      this form email from being saved:</h2>
    <ul>
    <% @email_form.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table class="generic" width="50%">
  <tr>
    <th class="subheading"><%= f.label :description %>:</td>
    <td><%= f.text_field :description %></td>
  </tr>
  <tr>
    <th class="subheading"><%= f.label :contents %>:</td>
    <td><%= f.text_area :contents, :size => "80x15" %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= f.submit %></td>
  </tr>
</table>