<table class="generic" width="100%">
  <tr>
    <th width="175" class="listheader" scope="col">Description</th>
    <th class="listheader" scope="col">Contents</th>
    <% if can? :update, EmailForm or can? :destroy, EmailForm %>
      <th width="25" class="listheader">&nbsp;</th>
    <% end %>
  </tr>
  
  <% for emailform in @email_forms %>
    <tr>
      <td class="list"><div align="left"><%= emailform.description %></div></td>
      <td class="list"><%= simple_format emailform.contents %></div></td>
      <% if can? :update, emailform or can? :destroy, emailform %>
        <td class="list">
          <%= conditional_link_to "edit", edit_email_form_path(emailform), :update, emailform %><br />
          <%= conditional_link_to_delete "delete", emailform, :destroy, emailform %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if can? :create, EmailForm %>
  <% content_for :more do %>
    <ul>
      <li><%= link_to 'New Form Email', new_email_form_url %></li>
    </ul>
  <% end %>
<% end %>
