<table>
  <tr>
  <% for column in EmailForm.content_columns %>
    <th class="listheader"><%= column.human_name %></th>
  <% end %>
  </tr>
  
  <% tmp = false; %>
  <% for emailform in @emailforms %>
    <tr class="<%= tmp ? "hoverlistentry1" : "hoverlistentry2" %>" onClick="document.location = '<%= url_for( :action => "edit", :id => emailform.id ) %>'">
    <% for column in EmailForm.content_columns %>
    <td class="list"><%=simple_format h emailform.send(column.name) %></td>
    <% end %>
    </tr>
    <% tmp = !tmp %>
  <% end %>
</table>

<br />

<%= link_to 'New Form Response', :action => 'new' %>
