<table class="generic" width="100%">
  <tr>
    <th width="25" class="listheader">&nbsp;</th>
    <th width="175" class="listheader" scope="col">Description</th>
    <th class="listheader" scope="col">Contents</th>
  </tr>
  
  <% for emailform in @emailforms %>
    <tr>
      <td class="list"><div align="right">
        <span class="listcontrollink">
          <%= link_to "show", emailform %><br />
          <%= link_to "edit", edit_email_form_path(emailform) %><br />
        </span>
      </div></td>

      <td class="list"><div align="left"><%= emailform.description %></div></td>
      <td class="list"><%= simple_format h  emailform.contents %></div></td> 
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Form Response', :action => 'new' %>
