<table class="generic">
  <tr>
    <td align="right" class="list"><strong>Event:</strong></td>
    <td class="list"><%= select :timecard_entry, :eventdate_id_and_eventpart, @eventdates_and_parts.collect{|e| [e[:eventdate].event.title + ' - ' + e[:eventdate].description + ' - ' + TimecardEntry.eventpart.options.rassoc(e[:eventpart]).first, e[:eventdate].id.to_s + "-" + e[:eventpart]]} %></td>
  </tr>
  <tr>
    <td align="right" class="list"><strong>Hours:</strong></td>
    <td class="list"><%= text_field :timecard_entry, :hours %></td>
  </tr>
  <% if @timecards.size > 0 %>
  <tr>
    <td align="right" class="list"><strong>Timecard:</strong></td>
    <td class="list"><% if @timecards.size > 1 -%>
        <%= select :timecard_entry, :timecard_id, @timecards.map{|t| [t.billing_date.strftime("%Y/%m/%d"), t.id]} -%>
        <%- else -%>
        <%= @timecards[0].billing_date.strftime("%Y/%m/%d") -%>
        <%= hidden_field :timecard_entry, :timecard_id, :value => @timecards[0].id -%>
        <%- end %></td>
  </tr>
  <% end %>
</table>
