<% @title = 'New timecard entry' %>
<h1>New timecard entry</h1>
<p>
  <% if @timecard_entry.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@timecard_entry.errors.count, "error") %> prohibited
        this timecard_entry from being saved:</h2>
      <ul>
      <% @timecard_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</p>
<%= form_for @timecard_entry, :url => {:action =>:create} do |f| %>
  <%= render :partial => 'form' %>
  <%=submit_tag 'Submit' %>
<%- end %>
