    <div id="dialog"></div>
<%= form_tag invoice_index_url, :method => :post, :name => "invoiceform" do %>

  <% @is_view_mode = (ApplicationController::Mode_View == @mode); %>
  <% @invoice_form_name = "invoiceform"; %>

  <%= render :partial => 'record' %>
  <br>
  <!-- form submission -->
  <table class="generic">
    <tr>
    <% if(!@is_view_mode) %>
      <td width="75" align="right">&nbsp;</td>
      <td align="left"><input type="submit" value="<%= @mode %>"/><%= link_to "view", { :action => "view", :id => @invoice.id } %></td>
    <% end %>
  </tr>
  </table>

<% end %>

<% if @is_view_mode %>
  <% content_for :more do %>
    <ul>
      <li><%= link_to "Edit", { :action => "edit", :id => @invoice.id } %></li>
      <li><%= link_to "Preview", { :action=>"prettyView",:id=>@invoice.id } %></li>
      <li><%= link_to "Print", {:action => "prettyView",:params=>{:format=>"pdf"}, :id=>@invoice.id} %></li>
      <li><%= link_to "Email", email_confirm_invoice_index_url(:id => @invoice.id, :format => :js), :remote => true %></li>
    </ul>
  <% end %>
<% end %>