<h1>Attachments</h1>
<%= pluralize @attachments.length, "attachment" %>
<table class="generic">
  <thead>
  <tr>
    <th>Name</th>
    <th>Association</th>
    <th>Content Type</th>
    <th>Size</th>
    <% if can? :manage, Attachment %>
      <th></th>
    <% end %>
  </tr>
</thead>
<tbody>
<% @attachments.each do |a| %>
  <tr>
    <td><%= link_to a.name, a.attachment.url %></td>
    <td>
      <% if not a.attachable_type == "Journal" and can? :read, a.attachable %>
        <%= link_to a.attachable, a.attachable %>
      <% end %>
    </td>
    <td><%= a.attachment.content_type %></td>
	  <td><%= a.friendly_size %></td>
    <% if can? :manage, Attachment %>
      <td><%= link_to "Destroy", attachment_path(a), :method => "delete", :confirm => "Are you sure? This is irreversible." %></td>
    <% end %>
  </tr>
  <% end %>
</tbody>
</table>
<p>Go to an event to upload a new attachment.</p>
