<h1>Attachments</h1>
<%= pluralize @attachments.length, "attachment" %>
<table class="generic">
  <thead>
  <tr>
    <th>Name</th>
    <th>Association</th>
    <th>Content Type</th>
    <th>Size</th>
    <th>Created At</th>
    <% if can? :manage, Attachment %>
      <th></th>
    <% end %>
  </tr>
</thead>
<tbody>
<% @attachments.each do |a| %>
  <tr>
    <td>
      <% if !a.attachment.attached? %>
        <%= a.name %> (missing when transitioned from Paperclip)
      <% else %>
        <%= link_to a.name, rails_blob_path(a.attachment, disposition: "attachment") %>
      <% end %>
    </td>
    <td>
      <% if not a.attachable_type == "Journal" and can? :read, a.attachable %>
        <%= link_to a.attachable, a.attachable %>
      <% end %>
    </td>
    <td><%= a.attachment.content_type %></td>
	  <td><% if !a.attachment.attached? %>???<% else %><%= a.friendly_size %><% end %></td>
	  <td><%= a.created_at.strftime("%b %d, %Y") %> <%= a.created_at.strftime("%I:%M %p") %></td>
    <% if can? :manage, Attachment %>
      <td><%= link_to "Destroy", attachment_path(a), :method => "delete", data: {confirm: "Are you sure? This is irreversible."} %></td>
    <% end %>
  </tr>
  <% end %>
</tbody>
</table>
<p>Go to an event to upload a new attachment.</p>

<%= will_paginate @attachments %>
