<div class="event-form">
  <% if @event.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="event-form">
    <fieldset id="event-form-equipment">
      <legend>Equipment</legend>
        <table>
          <tr>
            <th>Equipment</th>
            <th>Quantity</th>
            <th>Start Eventdate</th>
            <th>End Eventdate</th>
          </tr>
          <%= f.fields_for :equipment_events do |builder| %>
            <%= render :partial => 'events/equipment_event_fields', :locals => {:f => builder, :e => @event} %>
          <% end %>
        </table>

        <p>
          <%= link_to_add_eqev_fields "Add another piece of equipment", f, :equipment_events, @event, "events" %>
        </p>
    </fieldset>
  </div>
</div>
