<div class="equipment_event-form fields association-<%= f.index %>">
  <table>
    <tr>
      <td><%= f.label :equipment_id, "Equipment" %>:</td>
      <td><%= f.select :equipment_id, options_from_collection_for_select(Equipment.all, :id, :description) %></td>
    </tr>
    <tr>
      <td><%= f.label :quantity %>:</td>
      <td><%= f.text_field :quantity %></td>
    </tr>
    <tr>
      <td><%= f.label :eventdate_start_id, "Start Eventdate" %>:</td>
      <td><%= f.select :eventdate_start_id, options_from_collection_for_select(e.eventdates, :id, :description) %></td>
    </tr>
    <tr>
      <td><%= f.label :eventdate_end_id, "End Eventdate" %>:</td>
      <td><%= f.select :eventdate_end_id, options_from_collection_for_select(e.eventdates, :id, :description) %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to_remove_fields "Delete this equipment", f %></td>
    </tr>
  </table>
</div>
