<div>
  <table width="100%" border="0" cellspacing="0" cellpadding="3">
    <!-- email subjects -->
    <tr class="listentry2">
      <td width="75" align="right" class="list"><strong>outline</strong></td>
      <td class="list">
        <table>
          <% @event.emails.each do |email| %>
            <tr>
            <td>
              <% if(Email::Email_Status_Group_New.include?(email.status)) %>
                <img src="/images/emailicon.png" />
              <% end %>
            </td>
            <td align="left">
              <a href="#email<%= email.id %>">
                <%= email.timestamp.strftime("%A, %B %d at %I:%M %p") %> - <%= email.subject %>
              </a>
            </td>
            </tr>
          <% end %>
        </table>
        <% if(!@is_view_mode) %>
          <input type="button" value="Mark All Read" onClick="doAndReload('<%= url_for(:controller => "email", :action => "mark_status", :id => @event.emails.collect {|eml| eml.id}.join("."), :status => Email::Email_Status_Read) %>')"/>
          <input type="button" value="New Thread" onClick="popupAndReload('<%= url_for(:controller => "email", :action => "new_thread", :id => @event.id, :escape => false) %>')"/>
        <% end %>
      </td>
    </tr>

    <!-- email contents -->
    <% alternate = false; %>
    <% @event.emails.each do |email| %>
      <tr class="<%= alternate ? "listentry2" : "listentry1" %>">
        <td colspan=2 class="list" align="left">
          <a name="email<%= email.id %>"></a>
          <% if(!@is_view_mode) %>
            <% if(Email::Email_Status_Group_New.include?(email.status)) %>
              <input type="button" value="Mark Read" onClick="doAndReload('<%= url_for(:controller => "email", :action => "mark_status", :id => email.id, :status => Email::Email_Status_Read) %>')"/>
            <% else %>
              <input type="button" value="Mark Unread" onClick="doAndReload('<%= url_for(:controller => "email", :action => "mark_status", :id => email.id, :status => Email::Email_Status_New) %>')"/>
            <% end %>
            <input type="button" value="Reply" onClick="popupAndReload('<%= url_for({:controller => "email", :action => "reply_to", :id => email.id, :escape => false}) %>')"/>
            <input type="button" value="View Full" onClick="popup('<%= url_for({:controller => "email", :action => "view", :id => email.id, :escape => false}) %>')") %>
            <br>
          <% end %>
          <strong>
            <%= email.timestamp.strftime("%A, %B %d at %I:%M %p") %> - <%= email.subject %>
          </strong><br>

          <%= simple_format(email.headerless_contents) %>
        </td>
      </tr>
      <% alternate = !alternate %>
    <% end %>
  </table>
</div>
