<div>
  <% if(@event.eventdates.length() > 1) %>
    <% headers, contents = @event.date_regions; %>
    <table>
      <tr>
        <td>&nbsp;</td>
        <!-- row 1: days, merged -->
        <% days = headers.collect{|dt| dt.strftime("%a %b %d")} %>
        <% while(!days.empty?) %>
          <% cur = days.shift %>
          <td class="calendar_header" colspan="<%= days.find_all{|day| day == cur}.size() + 1 %>"><%= cur %></td>
          <% days.reject!{|day| day == cur} %>
        <% end %>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <!-- row 2: times per col -->
        <% headers.each do |headerdate| %>
          <td class="calendar_header"><small><%= headerdate.strftime("%H:%M") %></small></td>
        <% end %>
      </tr>
      <% @event.eventdates.sort_by{|dt| dt.startdate}.each do |evtdt| %>
        <% this_data = contents.map {|dates| dates.reject{|date| date != evtdt}} %>
        <tr>
          <td class="calendar_date"><%= h evtdt.description %></td>
          <% this_data.each do |column| %>
            <td class="calendar_date" <% if(!column.empty?) %>style="background-color: #009900"<% end %>>&nbsp;</td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>

  <table border="0" cellspacing="0" cellpadding="3">
    <% tmp = false; %>
    <!-- event dates -->
    <% @event.eventdates.length().times do |i| %>
      <% date = @event.eventdates[i]; %>
      <%= hidden_field_tag("date#{i}[id]", date.id) %>

      <tr class="<%= tmp ? "listentry1" : "listentry2" %>">
        <td width="100" align="right">Description:</td>
        <td align="left">
          <% if(@is_view_mode) %>
            <%= date.description %>
          <% else %>
            <%= text_field_tag("date#{i}[description]", date.description, "size" => 20, :onChange => "modified()") %>
          <% end %>
        </td>
      </tr>

      <tr class="<%= tmp ? "listentry1" : "listentry2" %>">
        <td align="right">Call:</td>
        <td><% if (@is_view_mode) %>
            <%= date.calldate ? date.calldate.strftime('%A, %B %d %Y, %I:%M %p') : "n/a" %>
          <% else %>
            <%= text_field_tag("date#{i}[calldate]", date.calldate ? date.calldate.strftime('%Y/%m/%d %H:%M') : "", :onChange => "modified()") %>
          <% end %>
        </td>
      </tr>

      <tr class="<%= tmp ? "listentry1" : "listentry2" %>">
        <td align="right">Start:</td>
        <td><% if (@is_view_mode) %>
            <%= date.startdate ? date.startdate.strftime('%A, %B %d %Y, %I:%M %p') : "n/a" %>
          <% else %>
            <%= text_field_tag("date#{i}[startdate]", date.startdate ? date.startdate.strftime('%Y/%m/%d %H:%M') : "", :onChange => "modified()") %>
          <% end %>
        </td>
      </tr>

      <tr class="<%= tmp ? "listentry1" : "listentry2" %>">
        <td align="right">End:</td>
        <td><% if (@is_view_mode) %>
            <%= date.enddate ? date.enddate.strftime('%A, %B %d %Y, %I:%M %p') : "n/a" %>
          <% else %>
            <%= text_field_tag("date#{i}[enddate]", date.enddate ? date.enddate.strftime('%Y/%m/%d %H:%M') : "", :onChange => "modified()") %>
          <% end %>
        </td>
      </tr>

      <tr class="<%= tmp ? "listentry1" : "listentry2" %>">
        <td align="right">Strike:</td>
        <td><% if (@is_view_mode) %>
            <%= date.strikedate ? date.strikedate.strftime('%A, %B %d %Y, %I:%M %p') : "n/a" %>
          <% else %>
            <%= text_field_tag("date#{i}[strikedate]", date.strikedate ? date.strikedate.strftime('%Y/%m/%d %H:%M') : "", :onChange => "modified()") %>
          <% end %>
        </td>
      </tr>

      <!-- date location -->
      <tr class="<%= tmp ? "listentry1" : "listentry2" %>">
        <td align="right">Location:</td>
        <td colspan="2" align="left">
          <% if(@is_view_mode) %>
            <% date.locations.each do |loc| %>
              <%= loc.to_s() %><br/>
            <% end %>
          <% else %>
            <select name="date<%= i %>[location_ids][]" size="5" multiple="multiple" onChange="modified()">
              <%= options_from_collection_for_select(Location.find(:all, :order => "building ASC, floor ASC, room ASC"), "id", "to_s", date.locations.collect{|loc| loc.id}) %>
            </select>
          <% end %>
        </td>
      </tr>

      <!-- date equipment -->
      <tr class="<%= tmp ? "listentry1" : "listentry2" %>">
        <td align="right" class="list">Equipment:</td>
        <td colspan="2" align="left" class="list">
          <% if(@is_view_mode) %>
            <% date.equipment.each do |equip| %>
              <%= equip.description() %><br/>
            <% end %>
          <% else %>
            <select name="date<%= i %>[equipment_ids][]" size="5" multiple="multiple" onChange="modified()">
              <%= options_from_collection_for_select(EquipmentCategory::tree_as_collection(), "id", "description", date.equipment.collect{|equip| equip.id}) %>
            </select>
          <% end %>
        </td>
      </tr>

      <% tmp = !tmp %>
    <% end %>
    <%= hidden_field_tag("ndates", @event.eventdates.length()) %>
  </table>
</div>
