<div class="event-form">
  <% if @event.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="event-form-left">
    <fieldset id="event-form-main">
      <legend>Main</legend>
    
      <table>
        <% if can? :tic, @event %>
          <tr>
            <td><%= f.label :title %>:</td>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <td>Organization:</td>
            <% if can? :create, Organization %>
              <td>
                <%= f.radio_button :org_type, "old", checked: "checked" %>
                <%= f.select :organization_id, organizations_for_select %>
                <br/>
                <%= f.radio_button :org_type, "new" %>
                <%= f.label :org_type_new, "New" %>:
                <%= f.text_field :org_new %>
              </td>
            <% else %>
              <td><%= f.select :organization_id, organizations_for_select %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= f.label :status %>:</td>
            <td><%= f.select :status, Event::Event_Status_Group_All %></td>
          </tr>
          <tr>
            <td><%= f.label :blackout %>:</td>
            <td>
              <% if f.object.blackout %>
                <%= f.fields_for :blackout do |builder| %>
                  <%= render :partial => "events/blackout_fields", locals: {f: builder} %>
                <% end %>
              <% else %>
                <%= link_to_add_blackout f %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :billable %>:</td>
            <td><%= f.check_box :billable %></td>
          </tr>
          <tr>
            <td><%= f.label :rental %>:</td>
            <td><%= f.check_box :rental %></td>
          </tr>
          <tr>
            <td><%= f.label :publish, "Published" %>:</td>
            <td><%= f.check_box :publish %></td>
          </tr>
          <tr>
            <td><%= f.label :textable, "Send a message to the GroupMe for call?" %></td>
            <td><%= f.check_box :textable %></td>
          </tr>
          <tr>
            <td><%= f.label :contact_name, "Contact Name" %>:</td>
            <td><%= f.text_field :contact_name %></td>
          </tr>
          <tr>
            <td><%= f.label :contactemail, "Contact Email" %>:</td>
            <td><%= f.text_field :contactemail %></td>
          </tr>
          <tr>
            <td><%= f.label :contact_phone, "Contact Phone" %>:</td>
            <td><%= f.text_field :contact_phone %></td>
          </tr>
        <% end %>
        <tr>
          <td><%= f.label :notes, "Notes" %>:</td>
          <td><%= f.text_area :notes, size: "80x10" %></td>
        </tr>
      </table>
    </fieldset>
    
    <% if can? :tic, @event %>
      <fieldset id="event-form-dates">
        <legend>Dates</legend>
    
        <%= f.fields_for :eventdates do |builder| %>
          <%= render :partial => 'events/eventdate_fields', :locals => {:f => builder} %>
        <% end %>
    
        <p>
          <%= link_to_add_fields "Add another event date", f, :eventdates, "", "events" %>
        </p>
      </fieldset>
    <% end %>
    
    <fieldset id="event-form-attachments">
      <legend>Attachments</legend>
      
      <table>
        <%= f.fields_for :attachments do |builder| %>
          <%= render :partial => 'events/attachment_fields', :locals => {:f => builder} %>
        <% end %>
      
        <tr>
          <td colspan=4><%= link_to_add_fields "Add an attachment", f, :attachments, "2", "events" %></td>
        </tr>
      </table>
    </fieldset>
  </div>
  
  <fieldset id="event-form-roles">
    <legend>Roles</legend>
    
    <table>
      <tr>
        <th>Role</th>
        <th>Techie</th>
      </tr>
      
      <%= f.fields_for :event_roles, f.object.event_roles.sort do |builder| %>
        <%= render :partial => 'events/event_role_fields', :locals => {:f => builder} %>
      <% end %>
    
      <% if can? :tic, @event or not @event.run_positions_for(current_member).flat_map(&:assistants).empty? %>
        <tr>
          <td colspan=2><%= link_to_add_fields "Add another role", f, :event_roles, "2", "events" %></td>
        </tr>
      <% end %>
    </table>
  </fieldset>
</div>
