<div class="event-form">
  <% if @event.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset id="event-form-main">
    <legend>Main</legend>
  
    <% if can? :tic, @event %>
      <dl>
        <dt><%= f.label :title, "Title:" %></dt>
        <dd><%= f.text_field :title, class: "event-form-full-input" %></dd>
      </dl>
      <dl>
        <dt><%= f.label :org_type, "Organization:" %></dt>
        <dd>
          <% if can? :create, Organization %>
            <%= f.select :org_type, options_for_select([["Existing", "old"], ["New", "new"]]) %>
            <%= f.text_field :org_new, class: "event-form-full-input" %>
          <% end %>
          <%= f.select :organization_id, organizations_for_select, {}, class: "event-form-full-input" %>
        </dd>
      </dl>
      <dl>
        <dt><%= f.label :status, "Status:" %></dt>
        <dd><%= f.select :status, Event::Event_Status_Group_All, class: "event-form-full-input" %></dd>
      </dl>
      <dl>
        <dt><%= f.label :blackout, "Blackout:" %></dt>
        <dd>
          <%= f.fields_for :blackout, f.object.blackout || Blackout.new do |builder| %>
            <% if builder.object.new_record? %>
              <%= builder.check_box :blackout_include %>
            <% else %>
              <%= builder.check_box :_destroy, {:id => "event_blackout_attributes_blackout_include", :checked => true}, "0", "1" %>
            <% end %>
            <span class="event-blackout-fields">
                <%= builder.date_select :startdate %>
                to
                <%= builder.date_select :enddate %>
            </span>
            <% if @event.new_record? %>
              <%= builder.hidden_field :with_new_event, value: "true" %>
            <% end %>
          <% end %>
        </dd>
      </dl>
      <dl>
        <dt><%= f.label :billable, "Billable:" %></dt>
        <dd><%= f.check_box :billable %></dd>
      </dl>
      <dl>
        <dt><%= f.label :rental, "Rental:" %></dt>
        <dd><%= f.check_box :rental %></dd>
      </dl>
      <dl>
        <dt><%= f.label :publish, "Published:" %></dt>
        <dd><%= f.check_box :publish %></dd>
      </dl>
      <dl>
        <dt><%= f.label :contact_name, "Contact name:" %></dt>
        <dd ><%= f.text_field :contact_name, class: "event-form-full-input" %></dd>
      </dl>
      <dl>
        <dt><%= f.label :contactemail, "Contact email:" %></dt>
        <dd><%= f.text_field :contactemail, class: "event-form-full-input" %></dd>
      </dl>
      <dl>
        <dt><%= f.label :contact_phone, "Contact phone:" %></dt>
        <dd><%= f.text_field :contact_phone, class: "event-form-full-input" %></dd>
      </dl>
    <% end %>
    <dl class="big-field">
      <dt><%= f.label :notes, "Notes:" %></dt>
      <dd><%= f.text_area :notes %></dd>
    </dl>
  </fieldset>
  
  <fieldset class="event-form-roles">
    <legend>Roles</legend>
    
    <table>
      <thead>
        <tr>
          <th>Role</th>
          <th>Techie</th>
        </tr>
      </thead>
      
      <tbody>
        <%= f.fields_for :event_roles, f.object.event_roles.sort do |builder| %>
          <%= render :partial => 'events/event_role_fields', :locals => {:f => builder, :parent => @event} %>
        <% end %>
    
        <% if can? :tic, @event or not @event.run_positions_for(current_member).flat_map(&:assistants).empty? %>
          <tr>
            <td colspan=2><%= link_to_add_fields "Add another role", f, :event_roles, "2", "events", {:parent => @event} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>
  
  <% if @event.new_record? or @event.has_editable_eventdates? current_member %>
    <fieldset id="event-form-dates">
      <legend>Dates</legend>
  
      <%= f.fields_for :eventdates, f.object.eventdates_editable_by(current_member) do |builder| %>
        <%= render :partial => 'events/eventdate_fields', :locals => {:f => builder} %>
      <% end %>
  
      <% if can? :tic, @event or @event.new_record? %>
        <p>
          <%= link_to_add_eventdate_fields "Add another event date", f %>
        </p>
      <% end %>
    </fieldset>
  <% end %>
  
  <fieldset id="event-form-attachments">
    <legend>Attachments</legend>
    
    <table>
      <%= f.fields_for :attachments do |builder| %>
        <%= render :partial => 'events/attachment_fields', :locals => {:f => builder} %>
      <% end %>
    
      <tr>
        <td colspan=4><%= link_to_add_fields "Add an attachment", f, :attachments, "2", "events" %></td>
      </tr>
    </table>
  </fieldset>
</div>
