<div id="event-info">
  <h2><%= link_to_unless_current event.title, event %></h2>

  <div id="event-org">
    <h3><%= link_to event.organization.name, event.organization %></h3>

    <b><%= event.contact_name %></b> | <%= event.contactemail %>
    <% if event.contact_phone and !event.contact_phone.empty? %>
      | <%= event.contact_phone %>
    <% end %>
  </div>

  <ul id="event-flags">
    <li><b><%= event.status %></b></li>
    <li><%= event.rental ? "Rental" : "Full Event" %></li>
    <li><%= event.publish ? "Published" : "Not Published" %></li>
    <% if can? :tic, event %>
      <% if event.billable %>
        <li>Billable</li>
      <% end %>
      <% if event.textable %>
        <li>Textable</li>
      <% end %>
    <% end %>
  </ul>
  
  <% if event.blackout %>
    <p>Blackout from <b><%= event.blackout.startdate.strftime("%b %d, %Y") %></b> to <b><%= event.blackout.enddate.strftime("%b %d, %Y") %></b>.</p>
  <% end %>
</div>