<table class="eventslist">
  <tr class="eventslist-header">
    <th colspan=2>Date</th>
    <th>Name</th>
    <th>Location, Equipment</th>
    <th>Timing</th>
    <th>Roles</th>
  </tr>
  <% if eventdates.empty? %>
    <tr><td colspan="6" style="text-align: center; padding: 10px 0">No events found!</td></tr>
  <% else %>
    <% eventdates.each do |ed| %>
      <% eventdate = ed[:eventdate] %>
      <% event = eventdate.event %>
      <tr class="<%= event.status.delete(' ').underscore %>">
        <td>&nbsp;</td>
        <td>
          <% if eventdate.startdate.year == Date.today.year %>
            <%= eventdate.startdate.strftime("%A, %B %d") %>
          <% else %>
            <%= eventdate.startdate.strftime("%B %d, %Y") %>
          <% end %><br />
          <small class="published">(<%= event.status.downcase %><%= eventdate.event.rental ? ", rental" : "" %><%= !eventdate.event.publish ? ",<br/><b>not published</b>".html_safe : "" %>)</small>
        </td>
        <td>
          <%= link_to(("#{event.title} - #{eventdate.description}"),event_path(event)) %><br />
          <small class="organization"><%= event.organization.name %></small>
        </td>
        <td style="white-space: normal;">
          <%= eventdate.locations.join("<br />").html_safe %>
          <%= "<br />".html_safe if eventdate.equipment.count >= 1 %>
          <%= event.equipment_events.where(eventdate_start_id: eventdate.id).collect{ |eq_ev| eq_ev.equipment.shortname unless eq_ev.equipment.nil? }.join(", ") %>
        </td>
        <td>
          <small>
            C: <%= render_eventdate_call eventdate %><br/>
            E: <%= eventdate.startdate.strftime("%H:%M") %> - <%= eventdate.enddate.strftime("%H:%M") %><br/>
            S: <%= render_eventdate_strike eventdate %>
          </small>
        </td>
        <% if ed[:roles] == :show %>
          <% if not eventdate.full_roles.any? { |r| r.role == EventRole::Role_TIC } or eventdate.full_roles.find { |r| r.role == EventRole::Role_TIC }.member.nil? %>
            <td class="ticless" rowspan="<%= ed[:run] %>">
          <% else %>
            <td rowspan="<%= ed[:run] %>">
          <% end %>
          <% eventdate.full_roles.sort.each do |role| %>
            <%= role.to_s() %><br />
          <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  <% if @event_pages and @event_pages[:page_count] > 1 %>
    <tr class="list_footer"><td colspan="6" style="border: 0">
      <table width="100%" style="margin-bottom: 2px;"><tr>
        <td><%= (backward_link != nil) ? backward_link : "" %></td>
        <td align="right"><%= (forward_link != nil) ? forward_link : "" %></td>
      </tr></table>
    </tr>
  <% end %>
</table>
