<table class="eventslist">
  <tr class="eventslist-header">
    <th colspan=2>Date</th>
    <th>Name</th>
    <th>Location, Equipment</th>
    <th>Timing</th>
    <th>Roles</th>
  </tr>
  <% if eventdates.empty? %>
    <tr><td colspan="6" style="text-align: center; padding: 10px 0">No events found!</td></tr>
  <% else %>
    <% (0..(eventdates.size-1)).each do |i| %>
      <% eventdate = eventdates[i] %>
      <% event = eventdate.event %>
      <% event_class = nil
        if event.status == "Event Cancelled"
          event_class = "event_cancelled"
        elsif event.status == "Event Declined"
          event_class = "event_cancelled"
        elsif event.status == "Event Completed"
          event_class = "event_completed"
        elsif event.status == "Event Confirmed"
          event_class = "event_confirmed"
        elsif event.status == "Initial Request"
          event_class = "initial_request"
        elsif event.status == "Tentative Date"
          event_class = "initial_request"
        elsif event.status == "Quote Sent"
          event_class = "event_confirmed"
        elsif event.status == "Billing Pending"
          event_class = "billing_pending"
        else
          event_class = "event_incomplete"
        end
      %>
      <tr <%= "class='".html_safe + event_class + "'".html_safe if event_class %>>
        <td>&nbsp;</td>
        <td>
          <% if eventdate.startdate.year == Date.today.year %>
            <%= eventdate.startdate.strftime("%A, %B %d") %>
          <% else %>
            <%= eventdate.startdate.strftime("%B %d, %Y") %>
          <% end %><br />
          <small class="published">(<%= event.status.downcase %><%= eventdate.event.rental ? ", rental" : "" %><%= !eventdate.event.publish ? ",<br/><b>not published</b>".html_safe : "" %>)</small>
        </td>
        <td>
          <%= link_to(("#{event.title} - #{eventdate.description}"),event_path(event)) %><br />
          <small class="organization"><%= event.organization.name %></small>
        </td>
        <td style="white-space: normal;">
                                  <%= eventdate.locations.join("<br />").html_safe %>
                                  <%= "<br />".html_safe if eventdate.equipment.count >= 1 %>
                                  <%= eventdate.equipment.collect{ |equipment| equipment.shortname }.join(", ") %>
        </td>
        <td>
          <small>
            C: <%= render_eventdate_call eventdate %><br/>
            E: <%= eventdate.startdate.strftime("%H:%M") %> - <%= eventdate.enddate.strftime("%H:%M") %><br/>
            S: <%= render_eventdate_strike eventdate %>
          </small>
        </td>
        <% if event.event_roles.find_by_role("TIC") and event.event_roles.find_by_role("TIC").member.nil? %>
        <td class="ticless">
        <% else %>
        <td>
        <% end %>
          <% event.event_roles.sort.each do |role| %>
            <%= role.to_s() %><br />
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <% if @event_pages and @event_pages[:page_count] > 1 %>
    <tr class="list_footer"><td colspan="6" style="border: 0">
      <table width="100%" style="margin-bottom: 2px;"><tr>
        <td><%= (backward_link != nil) ? backward_link : "" %></td>
        <td align="right"><%= (forward_link != nil) ? forward_link : "" %></td>
      </tr></table>
    </tr>
  <% end %>
</table>
