<table class="calendar">
  <tr><td class="header_month">
    <table><tr>
      <td style="text-align: left;">
        <% if show_arrows %>
        <%# hide past arrow for kiosks that cannot read past events %>
        <% if not kiosk_signed_in? or can? :read, Event or ((selected - 1.month).year >= Date.current.year and (selected - 1.month).mon >= Date.current.mon) %>
          <%= link_to("<<", month_events_url((selected - 1.month).year, (selected - 1.month).mon)) %>
        <% else %>
          <span style="visibility: hidden">&lt;&lt;</span>
        <% end %>
        <% end %>
      </td>
      <td style="text-align: center;"><strong><%= selected.strftime("%B %Y") %></strong></td>
      <td style="text-align: right;">
        <% if show_arrows %>
          <%= link_to(">>", month_events_url((selected + 1.month).year, (selected + 1.month).mon)) %>
        <% end %>
      </td>
    </tr></table>
  </td></tr>
  <tr><td class="header_days">
    <table><tr>
      <td width="14%"><strong>M</strong></td>
      <td width="14%"><strong>T</strong></td>
      <td width="14%"><strong>W</strong></td>
      <td width="14%"><strong>T</strong></td>
      <td width="14%"><strong>F</strong></td>
      <td width="14%"><strong>S</strong></td>
      <td width="14%"><strong>S</strong></td>
    </tr></table>
  </td></tr>
  <tr><td class="body">  
    <table>
      <% monthdates.each_slice(7) do |week| %>
        <tr>
          <% week.each do |date| %>
            <%
              day_class = nil
              if not date[:included]
                day_class = "not_on_calendar"
              elsif date[:blackout]
                day_class = "blackout_event"
              elsif date[:events].size == 1
                day_class = "one_event"
              elsif date[:events].size == 2
                day_class = "two_events"
              elsif date[:events].size == 3
                day_class = "three_events"
              elsif date[:events].size == 4
                day_class = "four_events"
              elsif date[:events].size > 4
                day_class = "more_events"
              end
            %>
            <td width="14%" <%= "class='".html_safe + day_class + "'".html_safe if day_class %> <% if !(date[:events].empty? and not date[:blackout]) %>
              <% if(can? :read, Event) %>
              onmouseover="this.getElementsByTagName('span')[0].className='show'"
              onmouseout="this.getElementsByTagName('span')[0].className='hide'" <% end %><% end %>>
              <%= date[:date].mday %>

              <% if not (date[:events].empty? and not date[:blackout]) %>
                <span class="hide">
                  <b><%= date[:date].strftime("%B %d, %Y")%></b><br/>
                  <% if date[:blackout] %>
                    Blackout:
                    <% if not date[:blackout].title.blank? and not date[:blackout].event.blank? %>
                      <%= text_with_conditional_link_to date[:blackout].event.title, date[:blackout].event, :read, Event %> - <%= date[:blackout].title %>
                    <% elsif not date[:blackout].event.blank? %>
                      <%= text_with_conditional_link_to date[:blackout].event.title, date[:blackout].event, :read, Event %>
                    <% else %>
                      <%= date[:blackout].title %>
                    <% end %>
                    <br />
                  <% end %>
                  <% date[:events].each do |evtdate| %>
                    <%= text_with_conditional_link_to evtdate.event.title + " - " + evtdate.description, evtdate.event, :read, Event %>
                    <span>&rarr; <%= evtdate.startdate.strftime("%I:%M %p") %> - <%= evtdate.enddate.strftime("%I:%M %p") %></span><br />
                  <% end %>
                </span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </td></tr>
</table>
