<% 
  @is_view_mode = (ApplicationController::Mode_View == @mode);
  @event_page = nil;
  if(params["page"])
    @event_page = params["page"];
  end
  if(!["main", "dates", "roles", "email", "finance", "new", "attachments", "related"].rindex(@event_page))
    @event_page = "main";
  end
%>

<% @event_form_name = "eventform"; %>

<script type="text/javascript">
var dirty = false;

function modified()
{
  dirty = true;
}

function switch_page(pgname)
{
  if(!dirty || confirm('Your changes will not be saved. Continue?'))
  {
    document.location = '<%= url_for(:id => @event.id, :escape => false) %>?page='+pgname;
  }
}
</script>
<% if !@is_view_mode %>
<form action="/events?redirect=<%=request.request_uri%>" enctype="multipart/form-data" method="post" name="eventform">
<% end %>

<!-- #existing event ID -->
<%= hidden_field("event", "id") %>
<div class="tab">
  <ul class="tablist">
    <li><%= link_to_function("Main", "switch_page(\'main\');".html_safe) %></li>
    <li><%= link_to_function("Dates", "switch_page(\'dates\');".html_safe) %></li>
    <li><%= link_to_function("Roles", "switch_page('roles');".html_safe) %></li>
    <li><%= link_to_function("Email", "switch_page('email');".html_safe) %></li>
    <li><%= link_to_function("Attachments (#{@event.attachments.count})", "switch_page('attachments');".html_safe) %></li>
    <li><%= link_to_function("Finance", "switch_page('finance');".html_safe) %></li>
    <li><%= link_to_function("Related", "switch_page('related');".html_safe) %></li>
    <li><%= link_to_function("New View", "switch_page('new');".html_safe) %></li>
  </ul>
  <% if(@event_page != "new") %>
    <%= render :partial => ("event_" + @event_page); %>
  <% else %>
    <%= render :partial => 'event_new' %>
  <% end %>
</div>

<br />
<!-- form submission -->
<table style="clear: left">
  <tr class="listentry1">
  <% if(@is_view_mode and @event_page != "new") %>
    <td align="left"><%= link_to "edit", { :action => "edit", :page => @event_page, :id => @event.id } %></td>
  <% else %>
    <td align="left"><input type="submit" value="<%= ApplicationController::Mode_Edit %>"/></td>
    <td><input type="reset" value="Reset" onclick="confirm('Are you sure you want to reset all data to is previous state? This CANNOT be undone.')" />
    <td><%= link_to "back to read-only view", { :action => "show", :page => @event_page, :id => @event.id } %></td>
  <% end %>
</tr>
</table>
