<% 
  @is_view_mode = (ApplicationController::Mode_View == @mode);
  @event_page = nil;
  if(params["page"])
    @event_page = params["page"];
  end
  if(!["main", "dates", "roles", "email", "finance", "new", "attachments", "related"].rindex(@event_page))
    @event_page = "main";
  end
%>

<% @event_form_name = "eventform"; %>

<% if !@is_view_mode %>
<form action="/events?redirect=<%=request.request_uri%>" enctype="multipart/form-data" method="post" name="eventform">
<% end %>

<!-- #existing event ID -->
<%= hidden_field("event", "id") %>
<div class="tab">
  <table class="eventsmain">
    <tr>
      <td style="padding: 0 20px">
        <ul class="tablist">
          <li><%= link_to "Main", event_url(@event, :page => "main") %></li>
          <li><%= link_to "Dates", event_url(@event, :page => "dates") %></li>
          <li><%= link_to "Roles", event_url(@event, :page => "roles") %></li>
          <li><%= link_to "Email", event_url(@event, :page => "email") %></li>
          <li><%= link_to "Attachments (#{@event.attachments.count})", event_url(@event, :page => "attachments") %></li>
          <li><%= link_to "Finance", event_url(@event, :page => "finance") %></li>
          <li><%= link_to "Related", event_url(@event, :page => "related") %></li>
          <li><%= link_to "New View", event_url(@event, :page => "new") %></li>
        </ul>
      </td>
      <td style="width: 100%">
        <% if(@event_page != "new") %>
          <%= render :partial => ("event_" + @event_page); %>
        <% else %>
          <%= render :partial => 'event_new' %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<br />
<!-- form submission -->
<table style="clear: left">
  <tr class="listentry1">
  <% if(@is_view_mode and @event_page != "new") %>
    <td align="left"><%= link_to "edit", { :action => "edit", :page => @event_page, :id => @event.id } %></td>
  <% else %>
    <td align="left"><input type="submit" value="<%= ApplicationController::Mode_Edit %>"/></td>
    <td><input type="reset" value="Reset" onclick="confirm('Are you sure you want to reset all data to is previous state? This CANNOT be undone.')" />
    <td><%= link_to "back to read-only view", { :action => "show", :page => @event_page, :id => @event.id } %></td>
  <% end %>
</tr>
</table>
