<% #parameter: eventdates, of type Eventdate Array. The event dates to display on the calendar. Must :include the event association on the query. %>

<% if(!eventdates.empty?) %>
  <% firstDate = eventdates.first().startdate.to_date(); %>
  <% firstOfWeek = firstDate - (firstDate.cwday() - 1); #determine the start day of the week %>
  
  <strong>Week of <%= firstOfWeek.strftime("%A, %B %d") %>:</strong>
  
  <% #for each day before the first of the next month, %>
  <% firstOfWeek.step( (firstOfWeek + 7) , 1 ) do |currentDay| %>
  
    <% #filter out todays events %>
    <% todaydates = eventdates.reject { |evtdate| (evtdate.startdate.mday() != currentDay.mday()) } %>
    
    <% if (!todaydates.empty?) %>
      <p>
        <a href="<%= url_for :selected => currentDay.strftime("%Y%m%d") %>"><%= currentDay.strftime("%A, %B %d") %>:</a><br />
        <% todaydates.each do |evtdate| %>
          &rarr; <%= evtdate.startdate.strftime("%I:%M %p") %> - <%= evtdate.enddate.strftime("%I:%M %p") %>:
      <%= link_to evtdate.event.title, event_path(evtdate.event) %> - <%= evtdate.description %>
          <br />
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>
