<center><table class="calendarmain">
  <% num_rows = 3 %>
  <% num_cols = 4 %>
  <% num_rows.times do |i| %>
    <tr>
      <% num_cols.times do |j| %>
        <td><%= @eventdates_month[i*num_cols+j] == nil ? "nil!" : "" %><%= render :partial => 'monthview', :locals => {:selected => @selected_month[i*num_cols+j], :dates => @eventdates_month[i*num_cols+j], :show_arrows => false} %></td>
        <% end %>
      </tr>
    <% end %>
  <tr>
    <td colspan="3" align="center">
      <form name="jumpform" method="get">
      <table border="0" cellpadding="3" cellspacing="0">
        <tr>
          <% if(!@public) %>
            <% EventsController::Generate_Formats.each do |fmt| %>
              <td>
                <a href="/calendar/generate.<%= fmt %>?matchdate=<%= @selected.strftime("%Y%m%d") %>">as <%= fmt %></a>
              </td>
              <td width="15">&nbsp;</td>
            <% end %>
          <% end %>
          <td>Blackout Date</td>
          <td width="16"><div name="status" id="status" style="background-color: #000000; width: 16px; height: 16px" /></td>
          <td width="15">&nbsp;</td>
          <td>Fewer Events </td>
          <td width="16"><img src="/images/scale_gradient.png" alt="" name="status" width="64" height="16" id="status" style="background-color: #000000" /></td>
          <td>More Events </td>
          <td width="15">&nbsp;</td>
          <td>
            Jump to:
            <select name="selected" onchange="document.forms['jumpform'].submit()">
              <% (-5..5).each do |i| %>
                <option value="<%= (@selected >> i).strftime("%Y%m%d") %>" <%= (i == 0) ? "selected" : "" %>>
                   <%= (@selected >> i).strftime("%Y %B") %>
                </option>
              <% end %>
            </select>
          </td>
        </tr>
      </table>
      </form>
    </td>
  </tr>
</table></center>

<% if(!@public) %>
  <br/>

  <br/>
  <strong>About generated schedules:</strong><br>

  You can obtain generated schedules using the URL /calendar/generate.[format]. Available format options are: <i><%= EventsController::Generate_Formats.join(", ") %></i>. <br>

  Generation parameters are as such:
  <ul>
    <li><strong>startdate/enddate</strong>: use these pairs of flags to specify a range to generate schedule entries for. values are pretty flexible, and are parsed according to Ruby's internal date parsing functionality.</li>
    <li><strong>matchdate</strong>: use this date to specify a date that should be included in the schedule output; the actual range will be determined based on which period the date falls in ("fall", "spring", or "summer") and the range relevant to that period.</li>
    <li><strong>period</strong>: use to generate a predefined period for a given year. example values are "f05", "u07" (for summer), "s2006" and "f2007".</li>
    <li>If no options are specified, the generation proceeds as if the current day's date was supplied as "matchdate".</li>
  </ul>
<% end %>
