<center><table class="calendarmain">
  <% num_rows = 3 %>
  <% num_cols = 4 %>
  <% num_rows.times do |i| %>
    <tr>
      <% num_cols.times do |j| %>
        <td><%= monthview @selected_month[i*num_cols+j], :blackouts => true %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td colspan="3" align="center">
      <form name="jumpform" method="get">
      <table border="0" cellpadding="3" cellspacing="0" align="center">
        <tr>
          <td>Blackout Date</td>
          <td width="16"><div name="status" id="status" style="background-color: #000000; width: 16px; height: 16px" /></td>
          <td width="15">&nbsp;</td>
          <td>Fewer Events </td>
          <td width="16"><%= image_tag("scale_gradient.png", width: "64", height: "16") %></td>
          <td>More Events </td>
          <td width="15">&nbsp;</td>
          <td>
            Jump to:
            <select name="selected" onchange="document.forms['jumpform'].submit()">
              <% (-5..5).each do |i| %>
                <option value="<%= (@selected + i.month).strftime("%Y%m%d") %>" <%= (i == 0) ? "selected" : "" %>>
                   <%= (@selected + i.month).strftime("%Y %B") %>
                </option>
              <% end %>
            </select>
          </td>
        </tr>
      </table>
      </form>
    </td>
  </tr>
</table></center>

<% if current_member %>
  <h2>Generate Calendar Export</h2>
  
  <table id="gencalex_form">
    <tr>
      <td><%= radio_button_tag "gen_param", "range", selected: "selected" %></td>
      <td>
        <%= label_tag "gen_param_range", "Range:", class: "gen_param_label" %>
        
        <p>This option will return a schedule containing events between the two specified dates.</p>
        
        <table class="gencalex_subform">
          <tr>
            <td><%= label_tag "gencalex_startdate", "Start Date:" %></td>
            <td><%= select_date @selected_month.first, prefix: "gencalex_startdate" %></td>
          </tr>
          <tr>
            <td><%= label_tag "gencalex_enddate", "End Date:" %></td>
            <td><%= select_date @selected_month.last, prefix: "gencalex_enddate" %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><%= radio_button_tag "gen_param", "matchdate" %></td>
      <td>
        <%= label_tag "gen_param_matchdate", "Match Date:", class: "gen_param_label" %>
        
        <p>This option will return a schedule that contains the given date. The actual range of events returned is determined by which period the date falls in (i.e. fall, spring, or summer).</p>
        
        <table class="gencalex_subform">
          <tr>
            <td><%= label_tag "gencalex_matchdate", "Date:" %></td>
            <td><%= select_date Date.today, prefix: "gencalex_matchdate" %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><%= radio_button_tag "gen_param", "soon" %></td>
      <td>
        <%= label_tag "gen_param_update", "Soon:", class: "gen_param_label" %>
        
        <p>This option returns three months of events including the current date. This is useful for synchronizing a calendar.</p>
      </td>
    </tr>
    <tr>
      <td><%= radio_button_tag "gen_param", "period" %></td>
      <td>
        <%= label_tag "gen_param_period", "Period:", class: "gen_param_label" %>
        
        <p>This option returns a schedule containing the events in a given period.</p>
        
        <table class="gencalex_subform">
          <tr>
            <td><%= label_tag "gencalex_period", "Period:" %></td>
            <td><%= select_tag "gencalex_period", options_for_select([["Fall", "f"], ["Spring", "s"], ["Summer", "u"]]) %></td>
          </tr>
          <tr>
            <td><%= label_tag "gencalex_period_year", "Year:" %></td>
            <td><%= select_year Date.today, prefix: "gencalex_period_year" %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><%= check_box_tag "gen_hidecompleted" %></td>
      <td>
        <%= label_tag "gen_hidecompleted", "Hide completed/cancelled/declined events", class: "gen_param_label" %>
      </td>
    </tr>
  </table>
  
  <input id="gencalex_root" type="hidden" value="<%= root_url %>" />
  
  <table id="gencalex_result">
    <tr>
      <th>iCal:</th>
      <td id="gencalex_ical_result"></td>
    </tr>
    <tr>
      <th>Text:</th>
      <td id="gencalex_text_result"></td>
    </tr>
  </table>
<% end %>
