<div id="event-container">
  <h2>Payroll for "<%= link_to @event.title, @event %>"</h2>
  
  <p>Total payroll cost: <%= number_to_currency @event.total_payroll %></p>
  <p>Total payroll hours: <%= @event.total_hours %></p>
  <table width="50%" class="generic">
    <% @event.eventdates.each do |ed| %>
      <% if not ed.timecard_entries.empty? %>
        <tr>
          <th><%= ed.description%></th>
          <th>Hours</th>
          <th>Cost</th>
        </tr>
        <% ed.timecard_entries.each do |entry| %>
          <tr>
            <td><%= entry.member %>
                <% event_roles = @event.run_positions_for(entry.member) %>
                <% ed_roles = ed.run_positions_for(entry.member) %>
                <% if not event_roles.empty? and not ed_roles.empty? %>
                  (<b><% event_roles.each do |pos| %><%= pos.try(:role) %><% end %></b>, 
                   <i> <% ed_roles.each do |ed_pos| %> <%= ed_pos.try(:role) %><% end %></i>)
                <% elsif not event_roles.empty? and ed_roles.empty? %>
                  (<b><% event_roles.each do |pos| %><%= pos.try(:role) %><% end %></b>)
                <% elsif event_roles.empty? and not ed_roles.empty? %>
                  (<b><% ed_roles.each do |ed_pos| %><%= ed_pos.try(:role) %><% end %></i>)
                <% end %>- <%= entry.eventpart.text %></td>
            <td><%= entry.hours %></td>
            <td><%= number_to_currency entry.gross_amount %>
          </tr>
        <% end %>
        <tr>
          <td><b>Total</b></td>
          <td><b><%= ed.total_hours %></b></td>
          <td><b><%= number_to_currency ed.total_gross %></b></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>