<div id="event-container">
  <h2>Payroll for "<%= link_to @event.title, @event %>"</h2>
  
  <p>Total payroll cost: <%= number_to_currency @event.total_payroll %>.</p>

  <table width="100%" class="generic">
    <% @event.eventdates.each do |ed| %>
      <% if not ed.timecard_entries.empty? %>
        <tr>
          <th><%= ed.description%></th>
          <th>Hours</th>
          <th>Cost</th>
        </tr>
        <% ed.timecard_entries.each do |entry| %>
          <tr>
            <td><%= entry.member %></td>
            <td><%= entry.hours %></td>
            <td><%= number_to_currency entry.gross_amount %>
          </tr>
        <% end %>
        <tr>
          <td><b>Total</b></td>
          <td><b><%= ed.total_hours %></b></td>
          <td><b><%= number_to_currency ed.total_gross %></b></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>