<div id="event-selector">
  <span id="event-sel-months"><%= month_links %></span>
  <span id="event-sel-time"><b>Future (<%= @eventdates.count %>)</b> | <%= link_to "Past", past_events_url %></span>
</div>

<%= render partial: "list_header" %>

<% if @eventweeks.empty? %>
  <tr><td colspan="6" style="text-align: center; padding: 10px 0">No events found!</td></tr>
<% else %>
  <% @eventweeks.each do |week| %>
    <% if can? :read, Event and week[:weeks_away] > 0 %>
      <tr class="eventslist-week-marker">
        <td>&nbsp;</td>
        <td class="marker"><%= weeks_from_now week[:weeks_away] %></td>
      </tr>
    <% end %>
    
    <%= render partial: "run", collection: week[:eventruns] %>
  <% end %>
<% end %>

<%= render partial: "list_footer" %>

<% if can? :read, Event %>
  <% content_for :more do %>
    <ul>
      <% if can? :create, Event %>
        <li>Create a <%= link_to("new event", new_event_path) %>.</li>
      <% end %>
        <li>View <%= link_to "incomplete events", incomplete_events_url %>. (<%= Event.where.not(status: Event::Event_Status_Group_Completed).count %>)
    </ul>
  <% end %>
<% end %>

<% content_for :calendar do %>
  <% if can? :read, Event %>
    <%= monthview Time.zone.now, :show_arrows => true, :full_month => true, :blackouts => true %>
  <% else %>
    <%= monthview Time.zone.now, :show_arrows => true, :full_month => true, :published => true %>
  <% end %>
<% end %>
