<h1 style="margin-top: 0px;">Upcoming Events</h1>
<h2 style="text-align:center; font-size: 10pt; width: 100%; margin-top: -20px;">(<%= @startdate.strftime("%D") %> through <%= @enddate.strftime("%D") %>)</h2>
<%= render :partial => 'iphone_date_chooser' %>
	    <% if @eventdates.empty? %>
"There are no events..."
	<% else %>
	<table>
    <% @eventdates.each do |eventdate| %>
	<% if eventdate.respond_to? :strftime %>
	<tr class="day">
	  <td colspan=3 class="date"><%= eventdate.ago %><span><%= eventdate.strftime("%a, %B %e, %Y") %></span>
				</td>
			</tr>
	<% next %>
      <% end %>


<%# STUPID hardcoded shit transposed straight from ./_list.rhtml %>
<%# also helps skip unecessary categories %> 
<% if eventdate.event.status == "Event Cancelled"
	event_class = "event_cancelled"
elsif eventdate.event.status == "Event Declined"
	event_class = "event_cancelled"
	 next
elsif eventdate.event.status == "Event Completed"
	event_class = "event_completed"
elsif eventdate.event.status == "Event Confirmed"
	event_class = "event_confirmed"
elsif eventdate.event.status == "Initial Request"
	event_class = "initial_request"
elsif eventdate.event.status == "Tentative Date"
	event_class = "initial_request"
elsif eventdate.event.status == "Quote Sent"
	event_class = "event_confirmed"
else
	event_class = "event_incomplete"
end
%>
	<tr class="<%= event_class %>" onclick="window.location = ('<%=h event_path(eventdate.event) %>')">
          <td></td>
          <td><%= eventdate.startdate.strftime("%H:%M") %><br />
            <span class="type"><%= eventdate.description  %></span></td>
          <td><%= eventdate.event.title %><br /><span class="location"><%= (eventdate.locations.join "<br />").html_safe %></span><br />
            <span class="times">
              <%= eventdate.has_call? ? eventdate.effective_call.strftime("%H:%M") : "????" %> Call ::
              <%= eventdate.startdate.strftime("%H:%M") %> Show ::
              <%= eventdate.has_strike? ? eventdate.effective_strike.strftime("%H:%M") : "????" %> Strike
            </span>
          </td>
	</tr>
<% end %>
</table>
<% end %>
<%= render :partial => 'iphone_date_chooser' %>
