<strong>Email for event <%= @event.title %></strong>
<br/><br/>

<% if(@event.emails.empty?) %>
  no emails for this event
<% else %>
  <i>overview:</i><br/>
  <ul>
  <% @event.emails.each do |email| %>
    <li>
    <% if(Email::Email_Status_Group_New.include?(email.status)) %>
      <%= image_tag "emailicon.png" %>
    <% end %>

    <a href="#email<%= email.id %>">
      <%= email.timestamp.strftime("%b %d @ %I:%M %p") %> - <%= email.subject %>
    </a>
    </li>
  <% end %>
  </ul>

  <br/><br/>
  <ul>
  <% @event.emails.each do |email| %>
    <li>
    <a name="email<%= email.id %>"></a>
    <strong>
      <%= link_to(email.timestamp.strftime("%b %d @ %I:%M %p") + " - " + email.subject, {:controller => "email", :action => "view", :id => email.id}) %>
    </strong><br/>

    <%= simple_format(email.quoteless_contents) %>
    </li>
  <% end %>
  </ul>
<% end %>
