<% if(!@eventdates_week.nil? and !@eventdates_week.empty?) %>
  <% firstDate = @eventdates_week.first().startdate.to_date(); %>
  <% firstOfWeek = firstDate - (firstDate.cwday() - 1); #determine the start day of the week %>
  
  <strong>Week of <%= firstOfWeek.strftime("%A, %B %d") %>:</strong>
  
  <% #for each day before the first of the next month, %>
    <% ak = 0; %>
    events: <%= @eventdates_week.size() %>
  <% firstOfWeek.step( (firstOfWeek + 7) , 1 ) do |currentDay| %>
    <% #filter out todays events %>
    <% todaydates = @eventdates_week.reject { |evtdate| (evtdate.startdate.mday() != currentDay.mday()) } %>
    
    <% if (!todaydates.empty?) %>
      <% ak = ak+1; %>
      <p>
        <i><%= currentDay.strftime("%A, %B %d") %></i>:<br />
        <% todaydates.each do |evtdate| %>
        <% event = evtdate.event; %>
        <%= evtdate.event.title %> - <%= evtdate.description %>:<br />

        <ul>
          <li>call: <%= !evtdate.calldate.nil? ? evtdate.calldate.strftime("%I:%M %p") : "unset" %></li>
          <li>show: <%= evtdate.startdate.strftime("%I:%M %p") %></li>
          <li>end: <%= evtdate.enddate.strftime("%I:%M %p") %></li>
          <li>strike: <%= !evtdate.strikedate.nil? ? evtdate.strikedate.strftime("%I:%M %p") : "unset" %></li>
          <% if(evtdate.locations.size() > 1) %>
          <li><ul>
          <% end %>
            <% evtdate.locations.each do |loc| %>
            <li>location: <%= loc.to_s() %></li>
            <% end %>
          <% if(evtdate.locations.size() > 1) %>
          </ul></li>
          <% end %>

          <% if(event.event_roles.size() > 1) %>
          <li><ul>
          <% end %>
            <% event.event_roles.each do |role| %>
            <li><%= role.role() %> - <%= role.assigned? ? role.member.fullname() + " (" + role.member.phone() + ")" : "unassigned" %> </li>
            <% end %>
          <% if(event.event_roles.size() > 1) %>
          </ul></li>
          <% end %>

          <% if(evtdate.equipment.size() > 1) %>
          <li><ul>
          <% end %>
            <% evtdate.equipment.each do |equip| %>
            <li><%= equip.description() %></li>
            <% end %>
          <% if(evtdate.equipment.size() > 1) %>
          </ul></li>
          <% end %>

          <li><%= link_to(ak.to_s() + ": view email", {:action => "mobile_email", :id => event.id}, {:accesskey => ak}) %></li>
        </ul>

        <% end %>
      </p>
    <% end %>
  <% end %>
<% else %>
There are no events to show.
<% end %>
