<div id="event-selector">
  <span id="event-sel-months"><%= month_links @startdate, @eventdates.count %></span>
  <span id="event-sel-time"><%= link_to "Future", events_url %> | <%= link_to "Past", past_events_url %></span>
</div>

<%= render partial: "list_header" %>

<% if @eventruns.empty? %>
  <tr><td colspan="6" style="text-align: center; padding: 10px 0">No events found!</td></tr>
<% else %>
  <%= render partial: "run", collection: @eventruns %>
<% end %>

<%= render partial: "list_footer" %>

<% content_for :calendar do %>
  <%= monthview @startdate, :show_arrows => true, :blackouts => true %>
<% end %>