<div id="event-selector">
  <span id="event-sel-months"><%= month_links @startdate, @eventdates.count %></span>
  <span id="event-sel-time"><%= link_to "Future", events_url %> | <%= link_to "Past", past_events_url %></span>
</div>

<%= render :partial => "list", :locals => {:eventdates => @eventdates} %>

<% content_for :calendar do %>
  <%= render :partial => "events/monthview", :locals => {:selected => @startdate, :dates => @eventdates, :show_arrows => true, :full_month => false} %>
<% end %>