<div id="dialog"></div>

<div id="event-container">
  <div id="event-container-left">
    <%= render partial: "events/info", locals: {event: @event} %>
  
    <div id="event-schedule">
      <% @event.eventdates.each do |eventdate| %>
        <table>
          <tr>
            <th colspan=4><%= eventdate.description %></th>
          </tr>
          <% eventdate.times.each do |time| %>
            <tr>
              <% if !time[:same] %>
                <td class="es-date"><%= time[:date].strftime("%A, %b %-d, %Y") %></td>
              <% else %>
                <td></td>
              <% end %>
              <td class="es-time"><%= time[:date].strftime("%H:%M") %></td>
              <td class="es-name"><%= time[:name] %></td>
              <% if time == eventdate.times.first %>
                <td rowspan="<%= eventdate.times.size %>" class="es-locequip">
                  <% if not eventdate.event_roles.empty? %>
                    <b>Roles:</b><br>
                    <ul class="edp-roles">
                      <% eventdate.event_roles.sort.each do |role| %>
                        <li><b><%= role.role %></b>: <%= show_run_position role %></li>
                      <% end %>
                    </ul>
                  <% end %>
                  <b>Location:</b>
                  <ul class="es-locs">
                    <% eventdate.locations.sorted.each do |loc| %>
                      <li><%= loc %></li>
                    <% end %>
                  </ul>
                  <% if !eventdate.equipment.empty? %>
                    <br />
                    <b>Equipment:</b><br />
                    <%= eventdate.equipment.collect{ |equipment| equipment.shortname }.join(", ") %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <% if !eventdate.notes.empty? %>
            <tr><td colspan=4><%= auto_link simple_format eventdate.notes %></td></tr>
          <% end %>
          <% if !eventdate.email_description.empty? and can? :tic, @event %>
            <tr>
              <td class="es-date">Email Description</td>
              <td colspan=3><%= simple_format eventdate.email_description %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
  
  <div id="event-container-right">
    <div id="event-roles" class="event-box">
      <% if @event.techies.empty? %>
        <h4>Roles</h4>
      <% else %>
        <h4>Roles (<%= mail_to @event.techies.map(&:email).join(","), "email" %>)</h4>
      <% end %>

      <ul>
        <% @event.event_roles.sort.each do |role| %>
          <li><b><%= role.role %></b>: <%= show_run_position role %></li>
        <% end %>
      </ul>
    </div>
  
    <% if can? :create, Invoice.new(event: @event) or not @event.invoices.accessible_by(current_ability).empty? %>
      <div id="event-invoices">
        <table class="event-finance">
          <tr>
            <% if @event.current_year? and can? :create, Invoice.new(event: @event) %>
              <th>Invoices (<%= link_to "Create", new_invoice_url(:event_id => @event.id) %>)</th>
            <% else %>
              <th>Invoices</th>
            <% end %>
            <th>Status</th>
            <% if can? :update, @event.invoices %>
              <th>Actions</th>
            <% else %>
              <th>Amount</th>
            <% end %>
          </tr>
          <% if @event.invoices.accessible_by(current_ability).empty? %>
            <tr>
              <td colspan=3>There are currently no invoices for this event.</td>
            </tr>
          <% else %>
            <% @event.invoices.accessible_by(current_ability).each do |invoice| %>
              <tr>
                <td>
                    <%= link_to invoice.display_title, invoice %>
                </td>
                <td>
                  <% if can? :status, invoice %>
                    <%= form_for @event, html: {:id => "invoice-status-#{invoice.id}"} do |f| %>
                      <%= f.fields_for :invoices, invoice do |ff| %>
                        <%= ff.select :status, Invoice::Invoice_Status_Group_All, {}, :onChange => "$('#invoice-status-#{invoice.id}').submit()" %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= invoice.status %>
                  <% end %>
                </td>
                <td>
                  <% if can? :update, invoice %>
                    <ul class="simple">
                      <li><%= conditional_link_to "Edit", edit_invoice_url(invoice), :update, invoice %></li>
                      <li><%= conditional_link_to "Preview", prettyView_invoice_url(invoice), :read, invoice %></li>
                      <li><%= conditional_link_to "Print", prettyView_invoice_url(invoice, :format => :pdf), :read, invoice %></li>
                      <li><%= conditional_link_to_remote "Email", email_confirm_invoice_url(invoice, :format => :js), :email, invoice %></li>
                    </ul>
                  <% else %>
                    <%= number_to_currency invoice.total %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    <% end %>
    
    <% if not @event.notes.empty? %>
    <div id="event-notes" class="event-box">
      <h4>Notes</h4>
      <%= auto_link simple_format @event.notes %>
    </div>
    <% end %>
  
    <% if not @event.attachments.empty? %>
      <div id="event-attachments" class="event-box">
        <h4>Attachments</h4>
      
        <ul>
          <% @event.attachments.each do |a| %>
            <li><%= link_to a.name, a.attachment.url %> - <%= a.friendly_size %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <% unless @event.emails.empty? %>
      <div id="event-emails" class="event-box">
        <h4>Emails</h4>
        
        <ul>
          <% @event.emails.order(timestamp: :asc).each do |email| %>
            <li>
              <h5 data-visible="no"><%= email.display_title %> <span class="arrow">&#9654;</span></h5>
              
              <%= render partial: "emails/email", locals: { email: email } %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <div id="event-comments" class="event-box">
    <h4>Comments</h4>
  
    <% @event.comments.each do |comment| %>
      <fieldset>
        <legend>
          <%= comment.member %> said on <%= comment.created_at.strftime("%m/%d/%y at %I:%M%p") %>
          <% if can? :destroy, comment %>
            (<%= link_to "delete", comment_url(comment), :method => :delete, :confirm => "Are you sure you would like to delete this comment?" %>)
          <% end %>
        </legend>
        <%= auto_link simple_format comment.content %>
      </fieldset>
    <% end %>
  
    <%= form_for @event.comments.build do |f| %>
      <%= f.hidden_field :event_id %>
      <%= f.text_area :content %>
      <br />
      <%= f.submit "New Comment" %>
    <% end %>
  </div>
</div>

<% if can? :update, @event or can? :destroy, @event or can? :read, Timecard or not @event.emails.empty? %>
  <% content_for :more do %>
    <ul>
      <% if can? :read, Timecard %>
        <li><%= link_to "View payroll", finance_event_url(@event) %></li>
      <% end %>
      <% if can? :update, @event %>
        <li><%= link_to "Edit this event", edit_event_url(@event) %></li>
      <% end %>
      <% if can? :destroy, @event %>
        <li><%= link_to "Delete this event", delete_conf_event_url(@event) %></li>
      <% end %>
      <% if can? :create, Event %>
        <li><%= link_to "Duplicate this event", duplicate_event_url(@event) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
