<div id="event-container">
  <div id="event-info">
    <h2><%= @event.title %></h2>
  
    <div id="event-org">
      <h3><%= link_to @event.organization.name, @event.organization %></h3>
    
      <b><%= @event.contact_name %></b> | <%= @event.contactemail %>
    </div>
  
    <b><%= @event.status %></b>,
    <%= @event.rental ? "Rental" : "Full Event" %>,
    <%= @event.publish ? "Published" : "Not Published" %>
  </div>
  
  <div id="event-schedule-container">
    <div id="event-schedule">
      <table>
        <% @event.eventdates.each do |eventdate| %>
          <tr>
            <th colspan=4><%= eventdate.description %></th>
          </tr>
          <% eventdate.times.each do |time| %>
            <tr>
              <% if !time[:same] %>
                <td class="es-date"><%= time[:date].strftime("%A, %b %-d, %Y") %></td>
              <% else %>
                <td></td>
              <% end %>
              <td class="es-time"><%= time[:date].strftime("%H:%M") %></td>
              <td class="es-name"><%= time[:name] %></td>
              <% if time == eventdate.times.first %>
                <td rowspan="<%= eventdate.times.size %>" class="es-locequip">
                  <b>Location:</b><br />
                  <%= eventdate.locations.join("<br />").html_safe %><br />
                  <% if !eventdate.equipment.empty? %>
                    <br />
                    <b>Equipment:</b><br />
                    <%= eventdate.equipment.collect{ |equipment| equipment.shortname }.join(", ") %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
  
  <div id="event-roles-container">
    <div id="event-roles">
      <h4>Roles</h4>
  
      <ul>
        <% @event.event_roles.sort.each do |role| %>
          <li><b><%= role.role %></b>: <%= role.assigned_to %></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <% if not @event.notes.empty? %>
  <div id="event-notes">
    <h4>Notes</h4>
    <%= auto_link simple_format @event.notes %>
  </div>
  <% end %>

  <% if not @event.emails.empty? %>
    <div id="event-emails">
      <h4>Emails (<%= link_to "full view", show_email_event_url(@event) %>)</h4>
  
      <ul>
        <% @event.emails.each do |email| %>
          <li><%= link_to email.display_title, view_email_url(email) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if current_member.authorized? "invoices/view" %>
    <% if not @event.invoices.empty? %>
      <div id="event-invoices">
        <% if current_member.authorized? "invoices/new" %>
          <h4>Invoices (<%= link_to("create new", {:action => "new", :controller => "invoice", :event_id => @event.id}) %>)</h4>
        <% else %>
          <h4>Invoices</h4>
        <% end %>
    
        <ul>
          <% @event.invoices.each do |invoice| %>
            <li><%= link_to invoice.display_title, view_invoice_index_url(:id => invoice) %></li>
          <% end %>
        </ul>
      </div>
    <% elsif current_member.authorized? "invoices/new" %>
      <div id="event-invoices">
        <h4>Invoices</h4>
    
        <p>There aren't yet any invoices for this event.
        <%= link_to("Would you like to create one?", {:action => "new", :controller => "invoice", :event_id => @event.id}) %></p>
      </div>
    <% end %>
  <% end %>
  
  <% if not @event.attachments.empty? %>
    <div id="event-attachments">
      <h4>Attachments</h4>
      
      <ul>
        <% @event.attachments.each do |a| %>
          <li><%= link_to a.attachment.original_filename, a.attachment.url %> - <%= a.friendly_size %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="event-comments">
    <h4>Comments</h4>
  
    <% @event.comments.each do |comment| %>
      <fieldset>
        <legend>
          <%= comment.member %> said on <%= comment.updated_at.strftime("%m/%d/%y at %I:%M%p") %>
          <% if comment.member == current_member %>
            (<%= link_to "delete", comment_url(comment), :method => :delete, :confirm => "Are you sure you would like to delete this comment?" %>)
          <% end %>
        </legend>
        <%= auto_link simple_format comment.content %>
      </fieldset>
    <% end %>
  
    <%= form_for @event.comments.build do |f| %>
      <%= f.hidden_field :event_id %>
      <%= f.text_area :content %>
      <br />
      <%= f.submit "New Comment" %>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
  <div id="event-more">
    <h4>More</h4>
  
    <ul>
      <% if current_member.authorized? "events/finance" %>
        <li><%= link_to "View finances", finance_event_url(@event) %></li>
      <% end %>
      <li><%= link_to "Edit this event", edit_event_url(@event) %></li>
      <li><%= link_to "Delete this event", delete_conf_event_url(@event) %></li>
    </ul>
  </div>
<% end %>