<div id="dialog"></div>

<div id="event-container">
  <div id="event-container-left">
    <div id="event-info">
      <h2><%= @event.title %></h2>
  
      <div id="event-org">
        <h3><%= link_to @event.organization.name, @event.organization %></h3>
    
        <b><%= @event.contact_name %></b> | <%= @event.contactemail %>
        <% if @event.contact_phone and !@event.contact_phone.empty? %>
          | <%= @event.contact_phone %>
        <% end %>
      </div>
  
      <p><b><%= @event.status %></b>,
      <%= @event.rental ? "Rental" : "Full Event" %>,
      <%= @event.publish ? "Published" : "Not Published" %></p>
      
      <% if @event.blackout %>
        <p>Blackout from <b><%= @event.blackout.startdate.strftime("%b %d, %Y") %></b> to <b><%= @event.blackout.enddate.strftime("%b %d, %Y") %></b>.</p>
      <% end %>
    </div>
  
    <div id="event-schedule">
      <table>
        <% @event.eventdates.each do |eventdate| %>
          <tr>
            <th colspan=4><%= eventdate.description %></th>
          </tr>
          <% eventdate.times.each do |time| %>
            <tr>
              <% if !time[:same] %>
                <td class="es-date"><%= time[:date].strftime("%A, %b %-d, %Y") %></td>
              <% else %>
                <td></td>
              <% end %>
              <td class="es-time"><%= time[:date].strftime("%H:%M") %></td>
              <td class="es-name"><%= time[:name] %></td>
              <% if time == eventdate.times.first %>
                <td rowspan="<%= eventdate.times.size %>" class="es-locequip">
                  <b>Location:</b><br />
                  <%= eventdate.locations.join("<br />").html_safe %><br />
                  <% if !eventdate.equipment.empty? %>
                    <br />
                    <b>Equipment:</b><br />
                    <%= eventdate.equipment.collect{ |equipment| equipment.shortname }.join(", ") %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  
    <% if not @event.notes.empty? %>
    <div id="event-notes" class="event-box">
      <h4>Notes</h4>
      <%= auto_link simple_format @event.notes %>
    </div>
    <% end %>
  </div>
  
  <div id="event-container-right">
    <div id="event-roles" class="event-box">
      <% if @event.techies.empty? %>
        <h4>Roles</h4>
      <% else %>
        <h4>Roles (<%= mail_to @event.techies.map(&:email).join(","), "email" %>)</h4>
      <% end %>

      <ul>
        <% @event.event_roles.sort.each do |role| %>
          <li><b><%= role.role %></b>: <%= role.assigned_to %></li>
        <% end %>
      </ul>
    </div>
  
    <% if can? :read, :finance %>
      <div id="event-invoices">
        <table class="event-finance">
          <tr>
            <% if can? :create, Invoice %>
              <th>Invoices (<%= link_to "Create", new_invoice_url(:event_id => @event.id) %>)</th>
            <% else %>
              <th>Invoices</th>
            <% end %>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          <% if @event.invoices.empty? %>
            <tr>
              <td colspan=3>There are currently no invoices for this event.</td>
            </tr>
          <% else %>
            <% @event.invoices.each do |invoice| %>
              <tr>
                <td>
                  <p><%= link_to invoice.display_title, invoice %></p>
                  <p>
                    Invoice JE:
                    <% if invoice.journal_invoice %>
                      <%= link_to invoice.journal_invoice.date_s, view_journal_url(invoice.journal_invoice) %>
                    <% elsif can? :create, Journal %>                  
                      <a href="#" onclick="$('#invoice<%= invoice.id %>-createje').toggle('Blind'); return false">Create?</a>
                      <div id="invoice<%= invoice.id %>-createje" style="display: none">
                        <%= form_for invoice do |builder| %>
                          <%= builder.hidden_field :update_journal, value: "1" %>
                          <%= builder.fields_for :journal_invoice, Journal.new do |f| %>
                            <%= hidden_field_tag "redirect", "event" %>
                            <table class="generic">
                              <tr><td width="70" align="right"><strong><%= f.label :date %>:</strong></td>
                                <td><%= f.date_select :date %></td></tr>
                              <tr><td width="70" align="right"><strong><%= f.label :memo %>:</strong></td>
                                <td><%= f.text_field :memo, value: invoice.event.organization.name + " - " + invoice.event.title, size: 40 %></td></tr>
                              <tr><td width="70" align="right"><strong><%= f.label :account_id, "Account" %>:</strong></td>
                                <td>
                                  <%= f.radio_button :account_id, Account::Events_Account.id, :checked => true %> Event
                                  <%= f.radio_button :account_id, Account::Rentals_Credit_Account.id %> Rental
                                </td>  
                              </tr>
                              <tr>
                                <td></td>
                                <td><%= submit_tag %></td>
                              </tr>
                            </table>
                          <% end %>
                        <% end %>
                      </div>
                    <% else %>
                      none
                    <% end %>
                  </p>
                  <% if invoice.journal_invoice %>
                    <p>
                      Invoice Paid JE:
                      <% if invoice.journal_invoice.date_paid %>
                        <%= link_to invoice.journal_invoice.date_paid_s, view_journal_url(invoice.journal_invoice) %>
                      <% elsif can? :update, invoice.journal_invoice %>
                        <a href="#" onclick="$('#invoice<%= invoice.id %>-markpaid').toggle('Blind'); return false">Mark paid?</a>
                        <div id="invoice<%= invoice.id %>-markpaid" style="display: none">
                          <%= form_for invoice do |builder| %>
                            <%= builder.fields_for :journal_invoice, invoice.journal_invoice do |f| %>
                              <%= hidden_field_tag "redirect", "event" %>
                              <table class="generic">
                                <tr><td width="70" align="right"><strong><%= f.label :date_paid, "Date Paid" %>:</strong></td>
                                  <td><%= f.date_select :date_paid %></td>
                                </tr>
                                <tr>
                                  <td></td>
                                  <td><%= submit_tag %></td>
                                </tr>
                              </table>
                            <% end %>
                          <% end %>
                        </div>
                      <% else %>
                        none
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <td>
                  <% if can? :status, invoice %>
                    <%= form_for @event, html: {:id => "invoice-status-#{invoice.id}"} do |f| %>
                      <%= f.fields_for :invoices, invoice do |ff| %>
                        <%= ff.select :status, Invoice::Invoice_Status_Group_All, {}, :onChange => "$('#invoice-status-#{invoice.id}').submit()" %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= invoice.status %>
                  <% end %>
                </td>
                <td>
                  <ul class="simple">
                    <li><%= conditional_link_to "Show full", invoice, :read, invoice %></li>
                    <li><%= conditional_link_to "Edit", edit_invoice_url(invoice), :update, invoice %></li>
                    <li><%= conditional_link_to "Preview", prettyView_invoice_url(invoice), :read, invoice %></li>
                    <li><%= conditional_link_to "Print", prettyView_invoice_url(invoice, :format => :pdf), :read, invoice %></li>
                    <li><%= conditional_link_to_remote "Email", email_confirm_invoice_url(invoice, :format => :js), :email, invoice %></li>
                  </ul>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      
      <div id="event-journals">
        <table class="event-finance">
          <tr>
            <% if can? :create, Journal %>
              <th>Journal Entries (Add <%= link_to "Credit", new_journal_url(:is_credit => true, :event_id => @event.id) %>, <%= link_to "Debit", new_journal_url(:is_credit => false, :event_id => @event.id) %>)</th>
            <% else %>
              <th>Journal Entries</th>
            <% end %>
            <th class="money">Credit</th>
            <th class="money">Debit</th>
          </tr>
          <% if @event.journals.empty? %>
            <tr>
              <td colspan=3>There are currently no journal entries for this event.</td>
            </tr>
          <% else %>
            <% @event.journals.each do |journal| %>
              <tr>
                <td>
                  <% if can? :update, journal %>
                    <%= link_to journal.memo, edit_journal_url(journal) %>
                  <% else %>
                    <%= link_to journal.memo, view_journal_url(journal) %>
                  <% end %>
                </td>
                <td class="money"><%= number_to_currency journal.amount if journal.account.is_credit? %></td>
                <td class="money"><%= number_to_currency journal.amount if !journal.account.is_credit? %></td>
              </tr>
            <% end %>
            <tr>
              <th>Total</th>
              <th class="money"><%= number_to_currency @event.journals_total if @event.journals_total >= 0 %>
              <th class="money"><%= number_to_currency -@event.journals_total if @event.journals_total < 0 %></th>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  
    <% if not @event.attachments.empty? %>
      <div id="event-attachments" class="event-box">
        <h4>Attachments</h4>
      
        <ul>
          <% @event.attachments.each do |a| %>
            <li><%= link_to a.name, a.attachment.url %> - <%= a.friendly_size %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <div id="event-comments" class="event-box">
    <h4>Comments</h4>
  
    <% @event.comments.each do |comment| %>
      <fieldset>
        <legend>
          <%= comment.member %> said on <%= comment.created_at.strftime("%m/%d/%y at %I:%M%p") %>
          <% if can? :destroy, comment %>
            (<%= link_to "delete", comment_url(comment), :method => :delete, :confirm => "Are you sure you would like to delete this comment?" %>)
          <% end %>
        </legend>
        <%= auto_link simple_format comment.content %>
      </fieldset>
    <% end %>
  
    <%= form_for @event.comments.build do |f| %>
      <%= f.hidden_field :event_id %>
      <%= f.text_area :content %>
      <br />
      <%= f.submit "New Comment" %>
    <% end %>
  </div>
</div>

<% if can? :update, @event or can? :destroy, @event or can? :read, Timecard or not @event.emails.empty? %>
  <% content_for :more do %>
    <ul>
      <% if can? :read, Timecard %>
        <li><%= link_to "View payroll", finance_event_url(@event) %></li>
      <% end %>
      <% if not @event.emails.empty? %>
        <li><%= link_to "View emails", show_email_event_url(@event) %></li>
      <% end %>
      <% if can? :update, @event %>
        <li><%= link_to "Edit this event", edit_event_url(@event) %></li>
      <% end %>
      <% if can? :destroy, @event %>
        <li><%= link_to "Delete this event", delete_conf_event_url(@event) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>