<div id="dialog"></div>

<div id="event-container">
  <div id="event-container-left">
    <div id="event-info">
      <h2><%= @event.title %></h2>
  
      <div id="event-org">
        <h3><%= link_to @event.organization.name, @event.organization %></h3>
    
        <b><%= @event.contact_name %></b> | <%= @event.contactemail %>
        <% if @event.contact_phone and !@event.contact_phone.empty? %>
          | <%= @event.contact_phone %>
        <% end %>
      </div>
  
      <b><%= @event.status %></b>,
      <%= @event.rental ? "Rental" : "Full Event" %>,
      <%= @event.publish ? "Published" : "Not Published" %>
    </div>
  
    <div id="event-schedule">
      <table>
        <% @event.eventdates.each do |eventdate| %>
          <tr>
            <th colspan=4><%= eventdate.description %></th>
          </tr>
          <% eventdate.times.each do |time| %>
            <tr>
              <% if !time[:same] %>
                <td class="es-date"><%= time[:date].strftime("%A, %b %-d, %Y") %></td>
              <% else %>
                <td></td>
              <% end %>
              <td class="es-time"><%= time[:date].strftime("%H:%M") %></td>
              <td class="es-name"><%= time[:name] %></td>
              <% if time == eventdate.times.first %>
                <td rowspan="<%= eventdate.times.size %>" class="es-locequip">
                  <b>Location:</b><br />
                  <%= eventdate.locations.join("<br />").html_safe %><br />
                  <% if !eventdate.equipment.empty? %>
                    <br />
                    <b>Equipment:</b><br />
                    <%= eventdate.equipment.collect{ |equipment| equipment.shortname }.join(", ") %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  
    <% if not @event.notes.empty? %>
    <div id="event-notes" class="event-box">
      <h4>Notes</h4>
      <%= auto_link simple_format @event.notes %>
    </div>
    <% end %>
  </div>
  
  <div id="event-container-right">
    <div id="event-roles" class="event-box">
      <h4>Roles</h4>

      <ul>
        <% @event.event_roles.sort.each do |role| %>
          <li><b><%= role.role %></b>: <%= role.assigned_to %></li>
        <% end %>
      </ul>
    </div>
  
    <% if current_member.authorized? "events/finance" %>
      <div id="event-invoices">
        <table class="event-finance">
          <tr>
            <th>Invoices (<%= link_to "Create", new_invoice_url(:event_id => @event.id) %>)</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          <% if @event.invoices.empty? %>
            <tr>
              <td colspan=3>There are currently no invoices for this event.</td>
            </tr>
          <% else %>
            <% @event.invoices.each do |invoice| %>
              <tr>
                <td>
                  <p><%= link_to invoice.display_title, view_invoice_index_url(:id => invoice.id) %></p>
                  <p>
                    <%= form_tag invoice_index_url, :method => :post do %>
                      Invoice JE:
                      <% if invoice.journal_invoice %>
                        <%= link_to(invoice.journal_invoice.date_s(), {:action => "view", :controller => "journal", :id => invoice.journal_invoice.id}) %>
                      <% else %>
                        <%= hidden_field_tag "invoice[id]", invoice.id %>
                        <%= hidden_field_tag "redirect", "event" %>
                        Create? <%= check_box_tag("journal_invoice_create", "1", false, :onChange => "$('#invoice#{invoice.id}-createje').toggle('Blind')") %>
                        <div id="invoice<%= invoice.id %>-createje" style="display: none">
                          <table class="generic">
                            <tr><td width="70" align="right"><strong>Date:</strong></td>
                              <td><%= better_select_date(DateTime.now(), "journal_invoice", "date") %></td></tr>
                            <tr><td width="70" align="right"><strong>Memo:</strong></td>
                              <td><%= text_field_tag("journal_invoice[memo]", invoice.event.organization.name + " - " + invoice.event.title, :size => 40) %></td></tr>
                            <tr><td width="70" align="right"><strong>Account:</strong></td>
                              <td>
                                <%= radio_button("journal_invoice", :account_id, Account::Events_Account.id, :checked => true) %> Event
                                <%= radio_button("journal_invoice", :account_id, Account::Rentals_Credit_Account.id) %> Rental
                              </td>  
                            </tr>
                            <tr>
                              <td></td>
                              <td><%= submit_tag %></td>
                            </tr>          
                          </table>
                        </div>
                      <% end %>
                    <% end %>
                  </p>
                  <% if invoice.journal_invoice %>
                    <p>
                      <%= form_tag invoice_index_url, :method => :post do %>
                        Invoice Paid JE:
                        <% if invoice.journal_invoice.date_paid %>
                          <%= link_to(invoice.journal_invoice.date_paid_s(), {:action => "view", :controller => "journal", :id => invoice.journal_invoice.id}) %>
                        <% else %>
                          <%= hidden_field_tag "invoice[id]", invoice.id %>
                          <%= hidden_field_tag "redirect", "event" %>
                          Mark paid?  <%= check_box_tag("journal_invoice_markpaid", "1", false, :onChange => "$('#invoice#{invoice.id}-markpaid').toggle('Blind')") %>
                          <div id="invoice<%= invoice.id %>-markpaid" style="display: none">
                            <table class="generic">
                              <tr><td width="70" align="right"><strong>Date Paid:</strong></td>
                                <td><%= better_select_date(DateTime.now(), "journal_invoice", "date_paid") %></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td><%= submit_tag %></td>
                              </tr>
                            </table>
                          </div>
                        <% end %>
                      <% end %>
                    </p>
                  <% end %>
                </td>
                <td>
                  <%= form_for @event, html: {:id => "invoice-status-#{invoice.id}"} do |f| %>
                    <%= f.fields_for :invoices, invoice do |ff| %>
                      <%= ff.select :status, Invoice::Invoice_Status_Group_All, {}, :onChange => "$('#invoice-status-#{invoice.id}').submit()" %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <ul class="simple">
                    <li><%= link_to "Show full", view_invoice_index_url(:id => invoice.id) %></li>
                    <li><%= link_to "Edit", edit_invoice_url(invoice) %></li>
                    <li><%= link_to "Preview", prettyView_invoice_index_url(:id => invoice.id) %></li>
                    <li><%= link_to "Print", prettyView_invoice_index_url(:id => invoice.id, :format => :pdf) %></li>
                    <li><%= link_to "Email", email_confirm_invoice_index_url(:id => invoice.id, :format => :js), :remote => true %></li>
                  </ul>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      
      <div id="event-journals">
        <table class="event-finance">
          <tr>
            <th>Journal Entries (Add <%= link_to "Credit", new_journal_url(:is_credit => true, :event_id => @event.id) %>, <%= link_to "Debit", new_journal_url(:is_credit => false, :event_id => @event.id) %>)</th>
            <th class="money">Credit</th>
            <th class="money">Debit</th>
          </tr>
          <% if @event.journals.empty? %>
            <tr>
              <td colspan=3>There are currently no journal entries for this event.</td>
            </tr>
          <% else %>
            <% @event.journals.each do |journal| %>
              <tr>
                <td><%= link_to journal.memo, edit_journal_url(journal) %></td>
                <td class="money"><%= number_to_currency journal.amount if journal.account.is_credit? %></td>
                <td class="money"><%= number_to_currency journal.amount if !journal.account.is_credit? %></td>
              </tr>
            <% end %>
            <tr>
              <th>Total</th>
              <th class="money"><%= number_to_currency @event.journals_total if @event.journals_total >= 0 %>
              <th class="money"><%= number_to_currency -@event.journals_total if @event.journals_total < 0 %></th>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  
    <% if not @event.attachments.empty? %>
      <div id="event-attachments" class="event-box">
        <h4>Attachments</h4>
      
        <ul>
          <% @event.attachments.each do |a| %>
            <li><%= link_to a.attachment.original_filename, a.attachment.url %> - <%= a.friendly_size %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <div id="event-comments" class="event-box">
    <h4>Comments</h4>
  
    <% @event.comments.each do |comment| %>
      <fieldset>
        <legend>
          <%= comment.member %> said on <%= comment.updated_at.strftime("%m/%d/%y at %I:%M%p") %>
          <% if comment.member == current_member %>
            (<%= link_to "delete", comment_url(comment), :method => :delete, :confirm => "Are you sure you would like to delete this comment?" %>)
          <% end %>
        </legend>
        <%= auto_link simple_format comment.content %>
      </fieldset>
    <% end %>
  
    <%= form_for @event.comments.build do |f| %>
      <%= f.hidden_field :event_id %>
      <%= f.text_area :content %>
      <br />
      <%= f.submit "New Comment" %>
    <% end %>
  </div>
</div>

<% content_for :more do %>
  <ul>
    <% if current_member.authorized? "events/finance" %>
      <li><%= link_to "View payroll", finance_event_url(@event) %></li>
    <% end %>
    <% if not @event.emails.empty? %>
      <li><%= link_to "View emails", show_email_event_url(@event) %></li>
    <% end %>
    <li><%= link_to "Edit this event", edit_event_url(@event) %></li>
    <li><%= link_to "Delete this event", delete_conf_event_url(@event) %></li>
  </ul>
<% end %>