<div id="event-container">
  <h2>Emails for "<%= link_to @event.title, @event %>"</h2>
  
  <div id="event-email-outline" class="event-box">
    <h4>Outline</h4>
    
    <ul>
      <% @event.emails.each do |email| %>
        <li><%= link_to email.display_title, "#email" + email.id.to_s %> from <%= email.sender %></li>
      <% end %>
    </ul>
  </div>
  
  <% @event.emails.each do |email| %>
    <div class="event-email-full" id="email<%= email.id %>">
      <strong><%= email.display_title %></strong><br />
      <em>Sender: <%= mail_to email.sender %></em><br />
      
      <%= simple_format strip_tags email.quoteless_contents %>
    </div>
  <% end %>
</div>