<h1>Editing permission</h1>

  <% if @permission.errors.any? %>

    <div id="errorExplanation">

      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited

        this permission from being saved:</h2>

      <ul>

      <% @permission.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

      <% end %>

      </ul>

    </div>

  <% end %>

<%= form_for(@permission) do |f| %>
  <p>
    <b>Pattern</b><br />
    <%= f.text_field :pattern %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @permission %> |
<%= link_to 'Back', permissions_path %>
