<% if @invoice_item.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@invoice_item.errors.count, "error") %> prohibited
      this invoice item from being saved:</h2>
    <ul>
    <% @invoice_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table class="generic">
  <tr>
    <td class="subheading"><%= f.label :memo %>:</td>
    <td><%= f.text_field :memo, size: 50 %></td>
  </tr>
  <tr>
    <td class="subheading"><%= f.label :category %>:</td>
    <td><%= f.select :category, InvoiceLine::Invoice_Categories %></td>
  </tr>
  <tr>
    <td class="subheading"><%= f.label :notes %>:</td>
    <td><%= f.text_area :notes, :size => "35x3" %></td>
  </tr>
  <tr>
    <td class="subheading"><%= f.label :price %>:</td>
    <td><%= f.text_field :price %></td>
  </tr>
  <tr>
    <td class="subheading"><%= f.label :notes %>:</td>
    <td><%= f.text_area :notes, :size => "35x3" %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit %></td>
  </tr>
</table>
