<h1>Listing Invoice Items</h1>
<p>These prices represent default values for creating new invoices. They should be set appropriately to encourage consistent quoting, but they need not be used in all cases. Each event has its own unique set of circumstances and must be priced out accordingly.</p>
<table class="generic">
  <tr>
    <th>Memo</th>
    <th>Category</th>
    <th>Price</th>
    <th>Corporate</th>
    <% if can? :update, InvoiceItem %>
      <th></th>
    <% end %>
    <% if can? :destroy, InvoiceItem %>
      <th></th>
    <% end %>
  </tr>
  
<% @invoice_items.each do |item| %>
  <tr>
    <td><%= item.memo %></td>
    <td><%= item.category %></td>
    <td><%= number_to_currency item.price %></td>
    <td><%= number_to_currency item.corporate %></td>
    <% if can? :update, item %>
      <td><%= link_to 'Edit', edit_invoice_item_url(item) %></td>
    <% end %>
    <% if can? :destroy, item %>
      <td><%= link_to 'Destroy', item, data: {confirm: "Are you sure?"}, :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, InvoiceItem %>
  <% content_for :more do %>
    <ul>
      <li><%= link_to 'New invoice item', :action => 'new' %></li>
    </ul>
  <% end %>
<% end %>
