<%= form_for @role do |f| %>

<table border="0" class="generic">
  <tr><th class="listheader" colspan="2">Role Details:</th></tr>
	
  <tr>
    <td class="list"><%= f.label :name %></td>
    <td class="list"><%= f.text_field :name %></td>
  </tr>

  <tr>
    <td class="list"><%= f.label :info, "Information" %></td>
    <td class="list"><%= f.text_field :info %></td>
  </tr>

  <tr>
    <td class="list"><%= f.label :permission_ids, "Permissions" %></td>
    <td class="list">
      <%= f.select :permission_ids, options_from_collection_for_select(Permission.order("pattern ASC"), "id", "pattern", @role.permissions.collect{|p| p.id}), {}, {size: "15", multiple: "multiple"}%>
    </td>
  </tr>

  <tr>
    <td class="list"><%= f.label :active, "Active?" %></td>
    <td class="list"><%= f.check_box :active %>
  </tr>

  <tr>
    <td class="list">&nbsp;</td>
    <td class="list"><%= submit_tag("update") %>
  </tr>
</table>

<% end %>
