<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>

<p>
  <b>Is credit:</b>
  <%=h @account.is_credit %>
</p>

<p>
  <b>Position:</b>
  <%=h @account.position %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
