<table border="0">
  <tr class="listheader">
    <td>&nbsp;</td>
    <td>Email View</td>
  </tr>
  <tr class="listentry1">
    <th class="list" width="100" align="right" valign="top" scope="row">Date</th>
    <td class="list"><%= @email.timestamp.strftime("%A %B %d, %Y at %I:%M %p") %></td>
  </tr>
  <tr class="listentry2">
    <th class="list" width="100" align="right" valign="top" scope="row">Status</th>
    <td class="list"><%=h @email.status %></td>
  </tr>
  <tr class="listentry1">
    <th class="list" width="100" align="right" valign="top" scope="row">Subject</th>
    <td class="list"><%=h @email.subject %></td>
  </tr>
  <tr class="listentry2">
    <th class="list" width="100" align="right" valign="top" scope="row"><small>(split with commas)</small> To</th>
    <td class="list"><%=h @email.sender %></td>
  </tr>
  <tr class="listentry1">
    <th class="list" width="100" align="right" valign="top" scope="row">Contents</th>
    <td class="list"><%= simple_format(h @email.contents) %></td>
  </tr>
</td>
