<h2><%= @org.id %>: <%= @org.name %></h2>
<p><b><%= @org.events.length %> Events:</b></p>
<ul>
  <% @org.events.each do |e| %>
    <li><%= link_to e.to_s, e %></li>
  <% end %>
</ul>
<%= link_to "Back to list of organizations", organizations_path %>
