<h2><%= @org.id %>: <%= @org.name %></h2>
<% if @org.defunct %>
  <p>This organization is defunct.</p>
<% end %>
<p><b><%= @org.events.length %> Events:</b></p>
<ul>
  <% @org.events.each do |e| %>
    <li><%= link_to e.to_s, e %></li>
  <% end %>
</ul>

<% content_for :more do %>
  <ul>
    <% unless @org.defunct %>
      <li><%= link_to "Edit", edit_organization_path(@org) %></li>
      <li><%= link_to "Delete", @org, :method => :delete, :data => {:confirm => "Are you sure you want to mark this organization as defunct?" }%></li>
    <% end %>
    <li><%= link_to "Back to list of organizations", organizations_path %></li>
  </ul>
<% end %>