<h2><%= @org.id %>: <%= @org.name %></h2>
<% if @org.defunct %>
  <p>This organization is defunct.</p>
<% end %>
<p><b><%= @org.events.length %> Events:</b></p>
<ul>
  <% @org.events.each do |e| %>
    <li><%= link_to e.to_s, e %> - <%= e.representative_date.strftime("%D") %></li>
  <% end %>
</ul>

<% content_for :more do %>
  <ul>
    <% if @org.id != 0 %>
      <li><%= conditional_link_to "Edit", edit_organization_path(@org), :update, @org %></li>
      <% if @org.defunct and @org.events.empty? %>
        <li><%= link_to "Delete", @org, :method => :delete, :data => {:confirm => "Are you sure you want to delete this organization?" } if can? :destroy, @org %>
      <% end %>
    <% end %>
    <li><%= link_to "Back to list of organizations", organizations_path %></li>
  </ul>
<% end %>