<div class="email">
  <div class="email-header">
    <%= email_headers_display email %>
    
    <a class="hidden-header-toggle" data-clicked="no">Show All Headers</a>
  </div>
  
  <div class="email-content"
    data-one-quote="<%= h email.one_quote_contents %>"
    data-all-quotes="<%= h email.contents %>"
    data-no-quotes="<%= h email.quoteless_contents %>"
    data-quote-mode="no-quotes">
    <ul class="email-contents-quote-mode">
      <li><a data-quote-mode="no-quotes" class="active">Hide Quotes</a></li>
      <li><a data-quote-mode="one-quote">Show One Quote Level</a></li>
      <li><a data-quote-mode="all-quotes">Show Quotes</a></li>
    </ul>
    
    <div class="the-content"><%= simple_format(h email.quoteless_contents) %></div>
    
    <% unless email.attachments.empty? %>
    <ul class="the-attachments">
      <% email.attachments.each do |a| %>
      <li><%= image_tag "link.png" %><%= link_to "#{a.name} (#{a.friendly_size})", a.attachment.url %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
