<div class="email">
  <div class="email-header">
    <%= email_headers_display email %>
    
    <a class="email-options-link">Options</a>
    
    <ul class="email-options">
      <li class="close-options">Options</li>
      <li class="hidden-header-toggle" data-clicked="no">Show All Headers</li>
      <li class="email-contents-quote-mode active" data-quote-mode="no-quotes">Hide Quotes</li>
      <li class="email-contents-quote-mode" data-quote-mode="one-quote">Show One Quote Level</li>
      <li class="email-contents-quote-mode" data-quote-mode="all-quotes">Show Quotes</li>
      <% if email.unread %>
        <li class="email-unread-toggle" data-clicked="yes" data-url="<%= email_url(email) %>">Mark Read</li>
      <% else %>
        <li class="email-unread-toggle" data-clicked="no" data-url="<%= email_url(email) %>">Mark Unread</li>
      <% end %>
      <% if can? :update, email %>
        <li class="email-reply-link" data-email-id="<%= email.id %>">Reply</li>
      <% end %>
      <% if can? :create, Event and not email.event %>
        <li class="email-new-event-link" data-email-id="<%= email.id %>">File New Event</li>
        <li class="email-existing-event-link" data-email-id="<%= email.id %>">File Existing Event</li>
      <% end %>
    </ul>
  </div>
  
  <div class="email-content">
    <div class="the-content"
      data-one-quote="<%= h email.one_quote_contents %>"
      data-all-quotes="<%= h email.contents %>"
      data-no-quotes="<%= h email.quoteless_contents %>"
      data-quote-mode="no-quotes">
      <%= simple_format(h email.quoteless_contents) %>
    </div>
    
    <% unless email.attachments.empty? %>
    <ul class="the-attachments">
      <% email.attachments.each do |a| %>
      <li><%= image_tag "link.png" %><%= link_to "#{a.name} (#{a.friendly_size})", a.attachment.url %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
