<h1>Email Filing</h1>

<% content_for :more do %>
  <ul>
    <li><%= link_to "View sent emails", sent_emails_url %></li>
    <li><%= link_to "View unread emails", unread_emails_url %></li>
    <li><%= link_to "Mark all emails as read", mark_all_as_read_emails_url %></li>
    <li><%= link_to "Send weekly email", weekly_emails_url %></li>
  </ul>
<% end %>

<%= render :partial => "list" %>
