<h1>Send Weekly Events Email</h1>

<%= form_tag weekly_emails_url, :method => :post do %>

  <table width="50%" border="0" class="generic">
    <tr>
      <td class="subheading">From:</td>
      <td><%= current_member.display_name %> &lt;<%= current_member.email %>&gt;</td>
    </tr>
    
    <tr>
      <td class="subheading"><%= label_tag :to, "To" %>:</td>
      <td><%= text_field_tag :to, "abtech@andrew.cmu.edu", size: 80 %></td>
    </tr>
    
    <tr>
      <td class="subheading"><%= label_tag :bcc, "Bcc" %>:</td>
      <td><%= text_field_tag :bcc, "abtech-bboard@andrew.cmu.edu", size: 80 %></td>
    </tr>
  
    <tr>
      <td class="subheading"><%= label_tag :subject, "Subject" %>:</td>
      <td><%= text_field_tag :subject, "AB Tech Events", size: 80 %></td>
    </tr>

    <tr>
      <td class="subheading"><%= label_tag :body, "Body" %>:</td>
      <% @eventdates = @eventdates.chunk { |eventdate| eventdate.startdate.beginning_of_day }%>
      <td>
          <textarea name="body" id="body" style:"width: 500px" rows="20" cols="80">
Hi Tech,

<% @eventdates.each do |date, events_for_day| %>
<%= date.strftime("%A, %m/%d/%y") %>
<% events_for_day.each do |eventdate| %>
  WHAT: <%= eventdate.event.title %> - <%= eventdate.description %>
  WHEN: Call @ <%= email_call_text eventdate %>, Show @ <%= email_show_text eventdate %>, Strike @ <%= email_strike_text eventdate %>
  WHERE: <%= eventdate.locations.sorted.map(&:to_s).join(", ") %>
  WHO: <%= email_who_text eventdate %>
  <%= eventdate.email_description %>
<% end %>
<% end %>

Best,
<%= current_member.display_name %></textarea>
      </td>
    </tr>
  </table>
  
  <p>
    <%= submit_tag "Send Email" %>
  </p>
  
<% end %>
