<h1>Kiosks</h1>

<table class="generic">
  <tr>
    <th>Hostname</th>
    <th>Locked</th>
    <% if can? :update, Kiosk or can? :read, Kiosk or can? :destroy, Kiosk or can? :lock, Kiosk or can? :unlock, Kiosk %>
      <th></th>
    <% end %>
  </tr>

  <% for kiosk in @kiosks %>
    <tr>
      <td><%= kiosk.hostname %></td>
      <td><%= kiosk.access_locked? %></td>
      <% if can? :update, Kiosk or can? :read, Kiosk or can? :destroy, Kiosk or can? :lock, Kiosk or can? :unlock, Kiosk %>
        <td>
          <%= conditional_link_to "Show", kiosk_url(kiosk), :read, kiosk %>
          <%= conditional_link_to "Edit", edit_kiosk_url(kiosk), :update, kiosk %>
          <% if can? :update, kiosk %>
            <%= link_to "Reset Password", reset_password_kiosk_url(kiosk), data: {confirm: "Are you sure?"} %>
          <% end %>
          <% if kiosk.access_locked? %>
            <% if can? :unlock, kiosk %>
              <%= link_to "Unlock", unlock_kiosk_url(kiosk), data: {confirm: "Are you sure?"} %>
            <% end %>
          <% else %>
            <% if can? :lock, kiosk %>
              <%= link_to "Lock", lock_kiosk_url(kiosk), data: {confirm: "Are you sure?"} %>
            <% end %>
          <% end %>
          <%= conditional_link_to_delete "Delete", kiosk, :destroy, kiosk %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if can? :create, Kiosk %>
  <% content_for :more do %>
    <ul>
      <li><%= link_to "Create kiosk", new_kiosk_url %></li>
    </ul>
  <% end %>
<% end %>
