<table border="0">
  <tr>
    <th width="25" class="listheader" scope="col">&nbsp;</th>
    <th width="125" class="listheader" scope="col">Name</th>
    <th width="60" class="listheader" scope="col">Limit</th>
    <th width="250" class="listheader" scope="col">Filters</th>
  </tr>

    <% @tmp = false %>
    <% current_member().filters().each do |filter| %>
      <tr class="<%= @tmp ? "listentry1" : "listentry2" %>">
        <td class="list"><div align="right">
          <span class="listcontrollink">
            <%= link_to_function "edit", "popupAndReload('" + url_for({:controller => "member_filter", :action => "edit", :id => filter.id }) + "')" %><br />
          </span>
        </div></td>
        <td class="list"><div align="left"><%= h filter.name %></div></td>
        <td class="list"><div align="left"><%= h filter.displaylimit %></div></td>
        <td class="list"><div align="left"><%= h (filter.filters.join(", ")) %></div></td>
      </tr>
      <% @tmp = !@tmp %>
    <% end %>
</table>

<%= button_to_function("new filter", "doAndReload('" + url_for({:controller => "member_filter", :action => "new"}) + "')") %>
