<html>
  <body>
    Editing filter <%= h @filter.name %>.<br>
    <%= form_tag({:action => :save, :id => @filter.id}) %>
      Name: <%= text_field("filter", "name") %><br>
      Display Limit (0 = none): <%= text_field("filter", "displaylimit") %><br>
      Selected Filters:<br/>
      <ul>
        <% EventsController::Display_Filters.each do |filt| %>
        <li> <%= check_box_tag("filter[filters][]", filt, @filter.filters.index(filt)) %> <%= h filt %>
        <% end %>
      </ul>
      <%= submit_tag() %>
    </form>
  </body>
</html>
