<% if @location.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@location.errors.count, "error") %> prohibited
      this location from being saved:</h2>
    <ul>
    <% @location.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table class="generic" width="50%">
  <tr>
    <td class="subheading"><%= f.label :building %>:</th>
    <td><%= f.text_field :building, size: "100%" %></td>
  </tr>
  <tr>
    <td class="subheading"><%= f.label :room %>:</th>
    <td><%= f.text_field :room, size: "100%" %></td>
  </tr>
  <tr>
    <td class="subheading"><%= f.label :details %>:</th>
    <td><%= f.text_area :details, size: "80x15" %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit %></td>
  </tr>
</table>
