<%= error_messages_for 'location' %>

<!--[form:location]-->
<p><label for="location_building">Building</label><br/>
<%= text_field 'location', 'building'  %></p>

<p><label for="location_floor">Floor</label><br/>
<%= text_field 'location', 'floor'  %></p>

<p><label for="location_room">Room</label><br/>
<%= text_field 'location', 'room'  %></p>

<p><label for="location_details">Details</label><br/>
<%= text_area 'location', 'details'  %></p>
<!--[eoform:location]-->

