<h1>Locations</h1>

<table class="generic">
  <tr>
    <th>Building</th>
    <th>Room</th>
    <th>Details</th>
    <% if can? :update, Location or can? :destroy, Location %>
      <th />
    <% end %>
  </tr>
  
  <% for location in @locations %>
    <tr>
      <td><%= location.building %></td>
      <td><%= location.room %></td>
      <td><%= location.details %></td>
      <% if can? :update, Location or can? :destroy, Location %>
        <td>
          <%= link_to 'Show', location %>
          <% if location.id != 0 %>
            <%= conditional_link_to "Edit", edit_location_url(location), :update, location %>
            <%= link_to("Delete", location, :method => :delete, :data => {:confirm => "Are you sure you would like to mark this location as defunct?"}) if can? :destroy, location %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if can? :create, Location %>
  <% content_for :more do %>
    <ul>
      <li><%= link_to 'New location', :action => 'new' %></li>
    </ul>
  <% end %>
<% end %>
