<h1>Locations</h1>

<table class="generic">
  <tr>
    <th>Building</th>
    <th>Floor</th>
    <th>Room</th>
    <th>Details</th>
    <th />
  </tr>
  
  <% for location in @locations %>
    <tr>
      <td><%= location.building %></td>
      <td><%= location.floor %></td>
      <td><%= location.room %></td>
      <td><%= location.details %></td>
      <td><%= link_to "Edit", edit_location_url(location) %></td>
    </tr>
  <% end %>
</table>

<% content_for :more do %>
  <ul>
    <li><%= link_to 'New location', :action => 'new' %></li>
  </ul>
<% end %>
