<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <% if kiosk_signed_in? %>
      <meta name="viewport" content="user-scalable=0">
      <style type="text/css">
        * {
          touch-action: pan-x pan-y;
          user-select: none;
        }
      </style>
    <% end %>
    <title>ABTT - <%= @title %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= render 'layouts/url_helpers' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="loader"><%= image_tag "loader.gif" %></div>

    <div class="header">
      <% if Rails.env.development? %>
        <div style="float: left; font-size: 20pt; background-color: black; color: red;">DEVELOPMENT <br />ENVIRONMENT</div>
      <% end %>

      <%= link_to image_tag("header.png"), root_url %>
    </div>

    <% if kiosk_signed_in? %>
      <div class="loggedin loggedin-expanded">
        <b>KIOSK MODE</b><br/>
        <b><%= current_kiosk.hostname %></b>

        <% if current_kiosk.show_header_time %>
        <br/><span id="kiosk_time">???</span>
        <script type="text/javascript">
        let kiosk_time = document.getElementById("kiosk_time")
        let kioskTimeUpdate = () => {
          kiosk_time.textContent = (new Date()).toString()
        }
        setInterval(kioskTimeUpdate, 10)
        kioskTimeUpdate()
        </script>
        <% end %>

        <% if current_kiosk.show_header_network_status %>
        <br/><span id="kiosk_network_status">???</span>
        <script type="text/javascript">
        let kiosk_network_status = document.getElementById("kiosk_network_status")
        kioskNetworkStatusOnline = () => {
          kiosk_network_status.style.fontWeight = ""
          kiosk_network_status.style.color = ""
          kiosk_network_status.textContent = "Network online"
        }
        let kioskNetworkStatusOffline = () => {
          kiosk_network_status.textContent = "Network OFFLINE"
          kiosk_network_status.style.color = "red"
          kiosk_network_status.style.fontWeight = "bold"
        }
        window.addEventListener('online', kioskNetworkStatusOnline)
        window.addEventListener('offline', kioskNetworkStatusOffline)
        if (window.navigator.onLine) { kioskNetworkStatusOnline() }
        else { kioskNetworkStatusOffline() }
        </script>
        <% end %>
      </div>
    <% elsif member_signed_in? %>
      <div class="loggedin">
        <b><%= current_member.fullname %></b> (<%= current_member.email %>)<br/>
        <%= link_to "Profile", edit_member_url(current_member) %>&nbsp;&nbsp;<%= link_to "Logout", destroy_member_session_url, :method => :delete %>
      </div>
    <% else %>
      <div class="login">
        <br/>(not logged in)
        <br/><%= link_to "Login with andrew account", member_saml_andrew_omniauth_authorize_path(), method: :post %>
        <br/><%= link_to "Login with tracker account", new_member_session_url %>
        <br/>
      </div>
    <% end %>

    <div id="menu" class="main-nav">
      <%= conditional_link_to "Events", events_url, :index, Event %>
      <%= conditional_link_to "Calendar", calendar_events_url, :index, Event %>
      <%= conditional_link_to "Reference", reference_events_url, :index, Event %>
      <%= conditional_link_to "Email (#{Email.where(unread: true).count})", emails_url, :read, Email %>
      <%= conditional_link_to "Finance", invoices_url, :read, :finance %>
      <%= conditional_link_to "Members", members_url(active_only: 1), :index, Member %>
      <%= conditional_link_to "Timecards", timecard_entries_url, :read, TimecardEntry %>
      <%= conditional_link_to "Weather", weather_index_url, :index, WeatherController %>
      <%= link_to "Radio Checkout", 'https://bit.ly/techradios', target: :_blank  if can? :read, Event %>

      <% if member_signed_in? or kiosk_signed_in? %>
        <%= link_to "Miscellaneous", "#", class: "toggle-div", data: {div: "misc-menu"} %>

        <% if show_admin_link %>
          <%= link_to "Tracker Admin", "#", class: "toggle-div", data: {div: "submenu"} %>
        <% end %>
      <% end %>
    </div>

    <% if member_signed_in? or kiosk_signed_in? %>
      <div id="misc-menu" style="display: none" class="main-nav">
        <%= conditional_link_to "Organizations", organizations_url, :read, Organization %>
        <%= conditional_link_to "Attachments", attachments_url, :read, Attachment %>
      </div>

      <% if show_admin_link %>
        <div id="submenu" style="display: none;" class="main-nav">
          <%= conditional_link_to "Locations", locations_url, :read, Location %>
          <%= conditional_link_to "Equipment Profiles", equipment_profiles_url, :read, EquipmentProfile %>
          <%= conditional_link_to "Timecards", timecards_url, :read, Timecard %>
          <%= conditional_link_to "Invoice Items", invoice_items_url, :read, InvoiceItem %>
          <%= conditional_link_to "Invoice Contacts", invoice_contacts_url, :read, InvoiceContact %>
          <%= conditional_link_to "Form Emails", email_forms_url, :read, EmailForm %>
          <%= conditional_link_to "Blackouts", blackouts_url, :read, Blackout %>
          <%= conditional_link_to "Kiosks", kiosks_url, :read, Kiosk %>
        </div>
      <% end %>
    <% end %>

    <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
    <% if flash[:alert] %><div class="alert"><%= flash[:alert] %></div><% end %>
    <% if flash[:error] %> <div class="error"> <%= flash[:error] %> </div><% end %>

    <% if content_for?(:body) %>
      <%= yield :body %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
