<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ABTT - <%= @title %></title>
<link href="/layout.css" rel="stylesheet" type="text/css" />
<link href="/planner.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/jquery-ui-1.8.20.custom.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/icon-font.css" rel="stylesheet" type="text/css" />
<%= javascript_include_tag "jquery-1.7.2.min.js" %>
<%= javascript_include_tag "jquery-ui-1.8.20.custom.min.js" %>
<%= javascript_include_tag :defaults %>

<%
def better_select_datetime(startdate, object, field)
    return select_year(startdate, :prefix => "#{object}[#{field}(1i)]", :discard_type => true) + 
           select_month(startdate, :prefix => "#{object}[#{field}(2i)]", :discard_type => true) + 
           select_day(startdate, :prefix => "#{object}[#{field}(3i)]", :discard_type => true) +
           "&#8211;" +
           select_hour(startdate, :prefix => "#{object}[#{field}(4i)]", :discard_type => true) +
           ":" +
           select_minute((@mode == ApplicationController::Mode_New) ? 0 : startdate, :prefix => "#{object}[#{field}(5i)]", :discard_type => true);
end

def better_select_date(startdate, object, field)
    return select_year(startdate, :prefix => "#{object}[#{field}(1i)]", :discard_type => true) + 
           select_month(startdate, :prefix => "#{object}[#{field}(2i)]", :discard_type => true) + 
           select_day(startdate, :prefix => "#{object}[#{field}(3i)]", :discard_type => true)
end
%>

<script type="text/javascript" language="javascript">
    function doAsync(url) {
        var http_request = false;

        if (window.XMLHttpRequest) { // Mozilla, Safari, ...
            http_request = new XMLHttpRequest();

            if (http_request.overrideMimeType) {
                http_request.overrideMimeType('text/xml');
            }
        } else if (window.ActiveXObject) { // IE
            try {
                http_request = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    http_request = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e) {}
            }
        }

        if (!http_request) {
            alert('Giving up :( Cannot create an XMLHTTP instance');
            return false;
        }

        http_request.open('GET', url, false);
        http_request.send(null);
    }

    function doAndReload(url) {
        doAsync(url);
        location.reload(true);
    }

    var tid;
    var popped;

    function finishPopupAndReload() {
        if (popped.closed)
        {
            clearInterval(tid);

            location.reload(true);
        }
    }

    function popup(url) {
        window.open(url);
    }

    function popupAndReload(url) {
        popped = window.open(url);

        tid = setInterval('finishPopupAndReload()', 500);
    }

</script>
<script type="text/javascript" src="/domtab.js"></script>

</head>
<body>

<script>
function showMainMenu() 
{
	document.getElementById("menu-show-link").style.display = "none";
	document.getElementById("menu-hide-link").style.display = "";
	document.getElementById("main-menu").style.display = "";
	document.getElementById("contents").className = "contents";
    doAsync('<%= url_for({:controller => "members", :action => "settings", :set_menu_visibility => "true", :escape => false}) %>');
}

function hideMainMenu() 
{
	document.getElementById("menu-show-link").style.display = "";
	document.getElementById("menu-hide-link").style.display = "none";
	document.getElementById("main-menu").style.display = "none";
	document.getElementById("contents").className = "contents_nomenu";
    doAsync('<%= url_for({:controller => "members", :action => "settings", :set_menu_visibility => "false", :escape => false}) %>');
}

</script>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="200" align="right" valign="bottom">
          <%= link_to image_tag("/images/abtech-logo.jpg", :size => "100x51"), events_path %><br>
        </td>
        <td width="5" valign="middle">&nbsp;</td>
        <td valign="bottom"><table>
                <tr>
                    <td valign="bottom">
						<div align="left" class="header_title" style="font-size: 22px">Activities Board Technical Committee -- Task Tracker<br />
                            <div style="background-color: #000000; width: 540px; height: 5px;"></div>
                        </div>
					</td>
                </tr>
                <tr>
                    <td>
						<% if logged_in?() %>
                            <%= current_member().fullname %> (<%= current_member().kerbid() %>) <small><%= link_to("(logout)", :action => "logout", :controller => "useraccount") %> <%= link_to("(edit personal info)", :action => "edit_self", :controller => "members") %></small>
                        <% else %>
                            (not logged in)
                        <% end %> 
					</td>
                </tr>
            </table></td>
    </tr>
</table>

<% showMenu = !current_member() || (current_member().setting("set_menu_visibility") != "false"); %>

<div class="menu_container" id="main-menu" <% if(!showMenu) %>style="display: none;"<% end %>>
    <div class="menu_level_1">General View</div>
    <div>
        <div class="menu_level_2"><%= conditional_link_to("Calendar", "events", "calendar") %></div>
        <div class="menu_level_2"><%= conditional_link_to("Personal Information", "members", "edit_self") %></div>
    </div>
    <div class="menu_level_1">Administration</div>
    <div>
        <div class="menu_level_2"><%= conditional_link_to("Events", "events", "index") %></div>
        <div class="menu_level_2"><%= conditional_link_to("Email", "email", "list") %></div>
        <div class="menu_level_2"><%= conditional_link_to("Finance", "accounts", "list") %></div>
        <div class="menu_level_2"><%= conditional_link_to("Equipment", "equipment", "tree") %></div>
        <div class="menu_level_2"><%= conditional_link_to("Members", "members", "index") %></div>
    </div>
    <div class="menu_level_1">Options</div>
    <div>
        <div class="menu_level_2"><%= conditional_link_to("Locations", "locations", "index") %></div>
        <div class="menu_level_2"><%= conditional_link_to("Organizations", "organizations", "index") %></div>
        <div class="menu_level_2"><%= conditional_link_to("Roles", "roles", "index") %></div>
        <div class="menu_level_2"><%= conditional_link_to("Permissions", "permissions", "index") %></div>
        <div class="menu_level_2"><%= conditional_link_to("Form Responses", "email_forms", "list") %></div>
    </div>
    <br/>
</div>

<div class="small_menu_container" id="menu-show-link" <% if(showMenu) %>style="display: none;"<% end %> onClick="showMainMenu()">
    &rarr;<br/>S<br/>H<br/>O<br/>W<br/> <br/>M<br/>E<br/>N<br/>U<br/>&rarr;
</div>
<div class="small_menu_container" id="menu-hide-link" <% if(!showMenu) %>style="display: none;"<% end %> onClick="hideMainMenu()">
    &larr;<br/>H<br/>I<br/>D<br/>E<br/> <br/>M<br/>E<br/>N<br/>U<br/>&larr;
</div>
    
<div <% if(showMenu) %>class="contents"<% else %>class="contents_nomenu"<% end %> id="contents">
    <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
    <% if flash[:error] %> <div class="error"> <%= flash[:error] %> </div><% end %>

    <%= yield %>
</div>


</body>
</html>
