<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ABTT - <%= @title %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="loader"><%= image_tag "loader.gif" %></div>
  
    <div class="header">
      <% if Rails.env.development? %>
        <div style="float: left; font-size: 20pt; background-color: black; color: red;">DEVELOPMENT <br />ENVIRONMENT</div>
      <% end %>
      
      <%= link_to image_tag("header.png"), root_url %>
    </div>
    
    <div class="login">
      <% if member_signed_in? %>
        <b><%= current_member.display_name %></b> (<%= current_member.email %>)<br/>
        <%= link_to "Profile", edit_member_url(current_member) %>&nbsp;&nbsp;<%= link_to "Logout", destroy_member_session_url, :method => :delete %>
      <% else %>
        <br/>(not logged in) <%= link_to "Login", new_member_session_url %>
      <% end %>
    </div>

    <div id="menu" class="main-nav">
      <%= conditional_link_to "Events", events_url, :index, Event %>
      <%= conditional_link_to "Calendar", calendar_events_url, :index, Event %>
      <%= conditional_link_to "Email (#{Email.where(unread: true).count})", emails_url, :read, Email %>
      <%= conditional_link_to "Finance", list_accounts_url, :read, :finance %>
      <%= conditional_link_to "Members", members_url, :index, Member %>
      <%= conditional_link_to "Timecards", timecard_entries_url, :read, TimecardEntry %>
      
      <% if member_signed_in? %>
        <%= link_to "Miscellaneous", "#", class: "toggle-div", data: {div: "misc-menu"} %>

        <% if show_admin_link %> 
          <%= link_to "Tracker Admin", "#", class: "toggle-div", data: {div: "submenu"} %>
        <% end %>
      <% end %>
    </div>

    <% if member_signed_in? %>
      <div id="misc-menu" style="display: none" class="main-nav">
        <%= conditional_link_to "Organizations", organizations_url, :read, Organization %>
        <%= conditional_link_to "Attachments", attachments_url, :read, Attachment %>
      </div>
      
      <% if show_admin_link %>
        <div id="submenu" style="display: none;" class="main-nav">
          <%= conditional_link_to "Locations", locations_url, :read, Location %>
          <%= conditional_link_to "Equipment", equipment_index_url, :read, Equipment %>
          <%= conditional_link_to "Timecards", timecards_url, :read, Timecard %>
          <%= conditional_link_to "Invoice Items", invoice_items_url, :read, InvoiceItem %>
          <%= conditional_link_to "Form Emails", email_forms_url, :read, EmailForm %>
          <%= conditional_link_to "Blackouts", blackouts_url, :read, Blackout %>
        </div>
      <% end %>
    <% end %>

    <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
    <% if flash[:error] %> <div class="error"> <%= flash[:error] %> </div><% end %>
    
    <% if content_for?(:body) %>
      <%= yield :body %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
