<% content_for :body do %>
  <div id="eventsmain">
    <div id="sidebar">
      <% if content_for?(:calendar) %>
        <%= yield :calendar %>
      <% else %>
        <% if can? :read, Event %>
          <%= monthview Time.zone.now, :full_month => true, blackouts: true %>
        <% else %>
          <%= monthview Time.zone.now, :full_month => true, published: true %>
        <% end %>
      <% end %>

      <% if member_signed_in? %>
        <%= form_tag search_events_url, method: :get do %>
          <%= text_field_tag :q, "Search", id: "search", class: "search_empty" %>
        <% end %>
      <% end %>
      
      <% if content_for?(:more) %>
        <div id="event-more" class="event-box">
          <h4>More</h4>
      
          <%= yield :more %>
        </div>
      <% end %>
      
      <% if content_for?(:extra) %>
        <%= yield :extra %>
      <% end %>
  
      Found a bug in tracker?<br/>
      Have a feature request?<br/>
      Submit a <%= link_to "ticket on GitHub", "https://github.com/ABTech/abtt/issues" %>. <%# this link could be a modal popup %>
      <!-- Tracker revision -->
      <div id="version">
        <!-- Are you reading this?! You should be contributing to the tracker! Contact abtech@andrew.cmu.edu for more info. -->
        <%= link_to app_version, "http://github.com/ABTech/abtt", :title => "Fork me on Github!", :style => "color: #555a5f; text-decoration: none;" %>
      </div>
    </div>
  
    <div id="eventsbody">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
