<%= form_for @member do |f| %>
  <% if @member.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited
        this member from being saved:</h2>
      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="generic">
<tr>
  <th><%= f.label :email, "Email" %></th>
  <td><%= f.text_field :email %></td>
</tr>
<tr>
  <th><%= f.label :namefirst, "First name" %></th>
  <td><%= f.text_field :namefirst %></td>
</tr>
<tr>
  <th><%= f.label :namelast, "Last name" %></th>
  <td><%= f.text_field :namelast %></td>
</tr>
<tr>
  <th><%= f.label :namenick, "Nickname" %></th>
  <td><%= f.text_field :namenick %></td>
</tr>
<tr>
  <th><%= f.label :title %></th>
  <td><%= f.text_field :title %></td>
</tr>
<tr>
  <th><%= f.label :callsign, "Ham radio callsign" %></th>
  <td><%= f.text_field :callsign %></td>
</tr>
<tr>
  <th><%= f.label :shirt_size, "Shirt size" %></th>
  <td><%= f.select :shirt_size, Member.shirt_size.values, include_blank: true %></td>
</tr>
<tr>
  <th><%= f.label :phone %></th>
  <td><%= f.text_field :phone %></td>
</tr>
<tr>
  <th><%= f.label :aim, "AIM" %></th>
  <td><%= f.text_field :aim %></td>
</tr>
<tr>
	<th><%= f.label :ssn, "Last 4 digits of SSN" %></th>
	<td><%= f.text_field :ssn %></td>
</tr>

<% if can? :payrate, @member %>
  <tr>
  	<th><%= f.label :payrate %></th>
  	<td>$<%= f.text_field :payrate %> per hour</td>
  </tr>
<% end %>

<tr>
  <th><%= f.label :password %></th>
  <td><%= f.password_field :password %></td>
</tr>
<tr>
  <th><%= f.label :password_confirmation %></th>
  <td><%= f.password_field :password_confirmation %></td>
</tr>

<% if can? :manage, @member %>
  <% if current_member.tracker_dev? %>
    <tr>
      <th><%= f.label :role, "Role" %></th>
      <td><%= f.select :role, Member.role.values.map { |c| [Member.new(:role => c).role_text, c] } %></td>
    </tr>
    <tr>
      <th><%= f.label :tracker_dev, "Tracker Dev" %></th>
      <td><%= f.check_box :tracker_dev %></td>
    </tr>
  <% else %>
    <tr>
      <th><%= f.label :role, "Role" %></th>
      <td><%= f.select :role, Member.role.values.select { |c| current_member.is_at_least? c }.map { |c| [Member.new(:role => c).role_text, c] } %></td>
    </tr>
  <% end %>
<% end %>

<% if can? :manage, SuperTic %>
  <% if @member.is_at_least? :exec %>
    <tr>
      <th>SuperTIC</th>
      <td>
        <% if SuperTic.available_for @member %>
          <ul class="supertic_condensed">
            <%= f.fields_for :super_tics, SuperTic.days do |builder| %>
              <% if builder.object.member == @member or builder.object.member == nil %>
                <li>
                  <%= builder.check_box :_destroy, {:checked => builder.object.member == @member}, "0", "1" %>
                  <%= builder.label :_destroy, builder.object.dayname %>
                  <%= builder.hidden_field :day %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>

<tr>
  <th><%= f.label :receives_comment_emails, "Receives emails for comments on events?" %></th>
  <td><%= f.check_box :receives_comment_emails %></td>
</tr>

<% if can? :hot, @member %>
  <tr>
    <th><%= f.label :payroll_paperwork_date, "Payroll Paperwork Submission Date" %></th>
    <td><%= f.date_select :payroll_paperwork_date, { :include_blank => true, :default => nil } %></td>
  </tr>
  <tr>
    <th><%= f.label :ssi_date, "SSI Submission Date" %></th>
    <td><%= f.date_select :ssi_date, { :include_blank => true, :default => nil } %></td>
  </tr>
  <tr>
    <th><%= f.label :driving_paperwork_date, "Driving Paperwork Submission Date" %></th>
    <td><%= f.date_select :driving_paperwork_date, { :include_blank => true, :default => nil } %></td>
  </tr>
  <tr>
    <th><%= f.label :key_possession %></th>
    <td><%= f.select :key_possession, options_for_select(["none", "bottom", "top"], f.object.key_possession) %></td>
  </tr>
<% end %>

<% if can? :hot, @member or @member == current_member %>
  <tr>
    <th><%= f.label :alternate_email %></th>
    <td><%= f.email_field :alternate_email %></th>
  </tr>
<% end %>

<tr>
  <th></th>
  <td><%= f.submit %></td>
</tr>
</table>
<!--[eoform:member]-->
<% end %>
