<%= form_for @member, html: {class: "member-form"} do |f| %>
  <% if @member.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited
        this member from being saved:</h2>
      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Authentication</legend>
  
    <dl class="required-field">
      <dt><%= f.label :email, "Email:" %></dt>
      <dd><%= f.email_field :email, class: "wide-input" %></dd>
    </dl>
  
    <% if not @member.new_record? %>
      <dl>
        <dt><%= f.label :password, "Password:" %></dt>
        <dd><%= f.password_field :password, class: "wide-input" %></dd>
      </dl>
    
      <dl>
        <dt><%= f.label :password_confirmation, "Password confirmation:" %></dt>
        <dd><%= f.password_field :password_confirmation, class: "wide-input" %></dd>
      </dl>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Profile</legend>
  
    <dl class="required-field">
      <dt><%= f.label :namefirst, "First name:" %></dt>
      <dd><%= f.text_field :namefirst, class: "wide-input" %></dd>
    </dl>

    <dl class="required-field">
      <dt><%= f.label :namelast, "Last name:" %></dt>
      <dd><%= f.text_field :namelast, class: "wide-input" %></dd>
    </dl>

    <dl>
      <dt><%= f.label :namenick, "Nickname:" %></dt>
      <dd><%= f.text_field :namenick, class: "wide-input" %></dd>
    </dl>

    <dl>
      <dt><%= f.label :pronouns, "Pronouns:" %></dt>
      <dd><%= f.text_field :pronouns %></dd>
    </dl>

    <dl>
      <dt><%= f.label :callsign, "Ham radio callsign:" %></dt>
      <dd><%= f.text_field :callsign %></dd>
    </dl>
  
    <dl>
      <dt><%= f.label :shirt_size, "Shirt size:" %></dt>
      <dd><%= f.select :shirt_size, Member.shirt_size.values, include_blank: true %></dd>
    </dl>

  
    <dl>
      <dt><%= f.label :phone, "Phone:" %></dt>
      <dd><%= f.phone_field :phone %></dd>
    </dl>
  
    <% if can? :hot, @member or @member == current_member %>
      <dl>
        <dt><%= f.label :alternate_email, "Alternate email:" %></dt>
        <dd><%= f.email_field :alternate_email, class: "wide-input" %></dd>
      </dl>
    <% end %>

    <dl>
      <dt><%= f.label :major, "Major:" %></dt>
      <dd><%= f.text_field :major %></dd>
    </dl>

    <dl>
      <dt><%= f.label :grad_year, "Graduation Year (undergrad):" %></dt>
      <dd><%= f.text_field :grad_year %></dd>
    </dl>

    <dl>
      <dt><%= f.label :favorite_entropy_drink, "Favorite (Default) Entropy Drink:" %></dt>
      <dd><%= f.text_field :favorite_entropy_drink %></dd>
    </dl>

    <dl>
      <dt><%= f.label :interests, "Interests:" %></dt>
      <dd><%= f.text_field :interests, class: "wide-input" %></dd>
    </dl>

    <dl>
        <dt><%= f.label :prefers_full_name, "Always show full names of members:" %></dt>
        <dd><%= f.check_box :prefers_full_name %></dd>
    </dl>

  </fieldset>

  <fieldset>
    <legend>Notifications</legend>

    <dl>
      <dt><%= f.check_box :receives_comment_emails %></dt>
      <dd><%= f.label :receives_comment_emails, "Email me when comments are posted on events I have run positions for" %></dd>
    </dl>
  </fieldset>

  <% if can? :manage, @member %>
    <fieldset>
      <legend>Permissions</legend>
    
      <% if can? :hot, @member or current_member.tracker_dev? %>
        <dl>
          <dt><%= f.label :role, "Role:" %></dt>
          <dd><%= f.select :role, Member.role.values.map { |c| [Member.new(:role => c).role_text, c] } %></dd>
        </dl>
      
        <dl>
          <dt><%= f.label :tracker_dev, "Tracker Dev:" %></dt>
          <dd>
            <%= f.check_box :tracker_dev %>
            <p><strong>WARNING:</strong> Tracker Devs have more permissions than the Heads of Tech on Tracker, including some potentially destructive and irreversible actions. Tracker Devs can see all of the information on Tracker that the Heads of Tech can. Use the staging server as much as possible and avoid requiring many Tracker Devs in production.</p>
          </dd>
        </dl>
      <% else %>
        <dl>
          <dt><%= f.label :role, "Role:" %></dt>
          <dd><%= f.select :role, Member.role.values.select { |c| current_member.is_at_least? c }.map { |c| [Member.new(:role => c).role_text, c] } %></dd>
        </dl>
      <% end %>
    </fieldset>
  <% end %>

  <% if can? :payrate, @member %>
    <fieldset>
      <legend>Payroll</legend>
    
      <dl>
      	<dt><%= f.label :payrate, "Payrate ($/hour):" %></dt>
      	<dd><%= f.number_field :payrate, step: 'any' %></dd>
      </dl>
    </fieldset>
  <% end %>

  <% if @member.is_at_least? :exec %>
    <fieldset>
      <legend>Officer Position</legend>
        <dl>
          <dt><%= f.label :officer_position, "Officer Position:" %></dt>
          <dd><%= f.text_field :officer_position %></dd>
        </dl>
    </fieldset>
  <% end %>

  <% if can? :manage, SuperTic and @member.is_at_least? :exec %>
    <fieldset>
      <legend>SuperTiC</legend>
    
      <% if SuperTic.available_for @member %>
        <%= f.fields_for :super_tics, SuperTic.days do |builder| %>
          <% if builder.object.member == @member or builder.object.member == nil %>
            <dl>
              <dt>
                <%= builder.check_box :_destroy, {:checked => builder.object.member == @member}, "0", "1" %>
                <%= builder.hidden_field :day %>
              </dt>
              <dd><%= builder.label :_destroy, builder.object.dayname %></dd>
            </dl>
          <% end %>
        <% end %>
      <% else %>
        <p>There are no Super TiC positions available for this member.</p>
      <% end %>
    </fieldset>
  <% end %>

  <% if can? :hot, @member %>
    <fieldset>
      <legend>Administrivia</legend>
     
      <dl>
        <dt><%= f.label :on_payroll, "Is on payroll?" %></dt>
        <dd><%= f.check_box :on_payroll %></dd>
      </dl>
    </fieldset>
  <% end %>

  <fieldset>
    <dl>
      <dd><%= f.submit %></dd>
    </dt>
  </fieldset>
<% end %>
