  <h1>Members of ABTech</h1>
  <p>See also: <a href="https://www.abtech.org/wiki/bin/view/Main/WebHome?topic=PhoneList">https://www.abtech.org/wiki/bin/view/Main/WebHome?topic=PhoneList</a></p>
<table class="generic">
  <tr>
    <th><%= table_order_link( "kerbid",   "kerbid",     @order).html_safe %></th>
    <th><%= table_order_link( "Name",     "namefirst",  @order) %></th>
    <th><%= table_order_link( "Title",    "title",      @order) %></th>
    <th><%= table_order_link( "Nickname", "namenick",   @order) %></th>
    <th><%= table_order_link( "Phone",    "phone",      @order) %></th>
    <th><%= table_order_link( "Aim",      "aim",        @order) %></th>
    <th><%= table_order_link( "Callsign",    "callsign",      @order) %></th>
    <th><%= table_order_link( "Shirt Size",    "shirt_size",      @order) %></th>
  <%- if @edit_others -%>
    <th>Roles</th>
    <th><%= table_order_link( "Created",  "created_at", @order) %></th>
    <th><%= table_order_link( "Updated",  "updated_at", @order) %></th>
    <th colspan=3>&nbsp;</th>
  <%- end -%>
  </tr>
  
<% for member in @members %>
  <tr>
    <td><%=h member.kerbid %></td>
    <td><%=h member.fullname %></td>
    <td><%=h member.title %></td>
    <td><%=h member.namenick %></td>
    <td><%=h(pretty_phone(member.phone)) %></td>
    <td><%= "<a href=\"aim:goim?screenname=#{h(member.aim)}\">#{h(member.aim)}</a>" unless member.aim.nil? %></td>
    <td><%= link_to h(member.callsign), "http://aprs.fi/?q=#{h(member.callsign)}" %></td>
    <td><%=h member.shirt_size %></td>
  <%- if @edit_others -%>
    <td><%= member.roles.collect{ |role| "<span title=\"#{h(role.permissions.join("\n"))}\">#{h(role.name)}</span>" }.join("<br/>") %></td>
    <td title="<%= member.created_at.nil? ? '">' : "#{member.created_at.strftime("%c")}\">#{member.created_at.strftime("%m/%d/%Y")}" %></td>
    <td title="<%= member.updated_at.nil? ? '">' : "#{member.updated_at.strftime("%c")}\">#{member.updated_at.strftime("%m/%d/%Y")}" %></td>
    <td><%= link_to 'Show', :action => 'show', :id => member %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => member %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => member }, :confirm => 'Are you sure?', :post => true %></td>
  <%- end -%>
  </tr>
<% end %>
</table>
<% if @edit_others %>
<br />

<%= link_to 'New member', new_member_path %> <br>
<%= link_to 'Download as V-Cards', members_path(:format => :vcf) %> <br>
<%= link_to 'Generate T-Shirt Order', tshirts_path %>
<% end %>
