  <h1>Members of AB Tech</h1>
  <p>See also: <a href="https://www.abtech.org/wiki/bin/view/Main/WebHome?topic=PhoneList">https://www.abtech.org/wiki/bin/view/Main/WebHome?topic=PhoneList</a></p>
<table class="generic" width="100%">
  <tr>
    <th><%=   table_order_link "kerbid",              "email",                  @order, @order_desc, @query %></th>
    <th><%=   table_order_link "Name",                "namelast",               @order, @order_desc, @query %></th>
    <th><%=   table_order_link "Nickname",            "namenick",               @order, @order_desc, @query %></th>
    <th><%=   table_order_link "Phone",               "phone",                  @order, @order_desc, @query %></th>
    <th><%=   table_order_link "Callsign",            "callsign",               @order, @order_desc, @query %></th>
    <th><%=   table_order_link "Shirt Size",          "shirt_size",             @order, @order_desc, @query %></th>
    <% if can? :hot, Member %>
      <th><%= table_order_link "Is on payroll?",  "on_payroll", @order, @order_desc, @query %></th>
    <% end %>
    <% if can? :show, Member %>
      <th><%= conditional_link_to_remote "Role", choose_filter_members_url(:format => :js), :show, Member %></th>
      <th><%= table_order_link "Joined",              "created_at",             @order, @order_desc, @query %></th>
    <% end %>
  </tr>

<% for member in @members %>
  <tr>
    <td><%= member.email %></td>
    <td><%= link_to_if (can? :show, member), member.fullname, member %></td>
    <td><%= member.namenick %></td>
    <td><%= pretty_phone member.phone %></td>
    <td><%= link_to h(member.callsign), "http://aprs.fi/?q=#{h(member.callsign)}".html_safe %></td>
    <td><%= member.shirt_size %></td>
    <% if can? :hot, member %>
      <td><%= member.on_payroll ? "YES" : "NO" %></td>
    <% end %>
    <%- if can? :show, member -%>
      <td>
        <%= member.role_text %>
        <% if member.tracker_dev? %>
          <br/>(Tracker Dev)
        <% end %>
      </td>
      <% if member.created_at.nil? %>
        <td>N/A</td>
      <% else %>
        <td title="<%= member.created_at.strftime('%c') %>"><%= member.created_at.strftime("%m/%d/%Y") %></td>
      <% end %>
    <%- end -%>
  </tr>
<% end %>
</table>

<% content_for :more do %>
  <ul>
    <li><%= conditional_link_to_remote "Filter members by role", choose_filter_members_url(:format => :js), :show, Member %></li>
    <% if can? :create, Member %>
      <li><%= link_to "New member", new_member_path %></li>
    <% end %>
    <% if params[:active_only] == "1" %>
      <li><%= link_to 'Show all members', members_path() %></li>
      <li><%= link_to 'Download as V-Cards', {:format => :vcf, :active_only => "1"}  %></li>
    <% else %>
      <li><%= link_to 'Show active members only', {:active_only => "1"} %></li>
      <li><%= link_to 'Download as V-Cards', members_path(:format => :vcf) %></li>
    <% end %>
    <li><%= link_to 'Generate T-Shirt Order', tshirts_members_url %></li>
    <li><%= link_to 'List Members by Run Position', roles_members_url %></li>
    <% if can? :manage, SuperTic %>
      <li><%= link_to "Manage Super TiCs", super_tics_members_path %></li>
    <% end %>
    <% if can? :hot, Member %>
      <li><%= link_to "Bulk edit members", bulk_edit_members_url %></li>
    <% end %>
  </ul>
<% end %>
<div id="dialog"></div>
