<h1>Members Sorted by Run Positions</h1>

<ul id="rp-anchors">
  <% @visible_roles.each do |role| %>
    <li><%= link_to role, "#" + role.downcase %></li>
  <% end %>
</ul>

<table id="rp-lists">
  <% @roles.each_slice(5) do |slice| %>
    <tr>
      <% slice.each do |role| %>
        <td>
          <h2 id="<%= role[:role].downcase %>"><%= role[:role] %></h2>
  
          <table class="generic">
            <tr>
              <th>Member</th>
              <th>Events</th>
            </tr>
    
            <% role[:members].each do |member| %>
              <tr class="member-by-role">
                <td>
                  <% if can? :show, member[:member] %>
                    <%= link_to member[:member].to_s, member[:member] %>
                  <% else %>
                    <%= member[:member].to_s %>
                  <% end %>
                  
                  <div class="hide">
                    <b><%= member[:member].to_s %></b> as <b><%= role[:role] %></b>
                    <ul>
                      <% member[:member].event_roles.where(role: role[:role]).includes(:roleable).sort_by(&:date).map(&:event).each do |event| %>
                        <li>
                          <%= link_to event.title, event %>
                          <span>&rarr; <%= event.representative_date.strftime("%-m/%-d/%Y") %></span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </td>
                <td><%= member[:count] %></td>
              </tr>
            <% end %>
          </table>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if params[:show] == "all" %>
  <% content_for :more do %>
    <ul>
      <li><%= link_to "Show only active members", roles_members_url %></li>
    </ul>
  <% end %>
<% else %>
  <% content_for :more do %>
    <ul>
      <li><%= link_to "Show inactive members", roles_members_url(:show => "all") %></li>
    </ul>
  <% end %>
<% end %>
