<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'effects' %>
<h1>Member details</h1>
<table class="generic">
<tr>
  <th>ID</th>
  <td><%= @member.id %></td>
</tr>
<tr>
  <th>First name</td>
  <td><%= @member.namefirst %></td>
</tr>
<tr>
  <th>Last name</td>
  <td><%= @member.namelast %></td>
</tr>
<tr>
  <th>Kerbid</td>
  <td><%= @member.kerbid %></td>
</tr>
<tr>
  <th>Nickname</td>
  <td><%= @member.namenick %></td>
</tr>
<tr>
  <th>Phone</td>
  <td><%= @member.phone %></td>
</tr>
<tr>
  <th>Aim</td>
  <td><%= @member.aim %></td>
</tr>
<tr>
  <th>Joined at</td>
  <td><%= @member.created_at %></td>
</tr>
<tr>
  <th>Title</td>
  <td><%= @member.title %></td>
</tr>
<tr>
  <th>Callsign</td>
  <td><%= @member.callsign %></td>
</tr>
<tr>
  <th>Shirt size</td>
  <td><%= @member.shirt_size %></td>
</tr>
<tr>
  <th>SSN</td>
  <td><%= @member.ssn %></td>
</tr>
<tr>
  <th>Payrate</td>
  <td>$<%= @member.payrate %>/hr</td>
</tr>
<tr>
  <th>Role</th>
  <td>
    <ul class="simple">
      <% @member.roles.each do |role| %>
        <li><%= link_to role.name, role %></li>
      <% end %>
    </ul>
  </td>
</tr>
<tr>
  <th>Permissions</th>
  <td>
    <span style="display: none;" id="permissions">
      <ul class="simple">
        <% @member.permission_strings.sort.uniq.each do |p| %>
          <li><%= p %></li>
        <% end %>
      </ul>
    </span>
    <a href="#" onclick="Effect.Fade($('permissions_label'), {duration: 0.2});Effect.Appear($('permissions'));" id="permissions_label">Click to display</a>
  </td>
</tr>
</table>

<% if @edit_others or @current_member == @member %> <%= link_to 'Edit', edit_member_path(@member) %> | <% end %>
<%= link_to 'Back', members_path %>

<h2>Billing</h2>
<table class="generic">
<% @member.timecards.each do |timecard| %>
  <tr>
    <th>Timecard for <%= timecard.billing_date.strftime("%D") %></th>
    <td> <%= pluralize timecard.hours(@member), "hour" %>
   </td>
  </tr>
<% end %>
<tr style="border-top-style: double;">
  <th>Total</th>
  <td><%= pluralize @member.timecard_entries.map(&:hours).sum, "hour" %> / <%= number_to_currency @member.timecard_entries.map(&:gross_amount).sum %></td>
</tr>
</table>
