<h1>Editing account</h1>

  <% if @account.errors.any? %>

    <div id="errorExplanation">

      <h2><%= pluralize(@account.errors.count, "error") %> prohibited

        this account from being saved:</h2>

      <ul>

      <% @account.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

      <% end %>

      </ul>

    </div>

  <% end %>

<%= form_for(@account) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Is credit</b><br />
    <%= f.check_box :is_credit %>
  </p>

  <p>
    <b>Position</b><br />
    <%= f.text_field :position %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
