<h1>Audit Completed Events</h1>

<%= will_paginate @events %>

<table class="generic" width="100%">
  <tr class="listheader">
    <th class="list">Date</th>
	<th class="list">Organization</th>
    <th class="list">Name</th>
    <th class="list">Invoice</th>
    <th class="list">Invoiced</th>
  </tr>

  <% @events.each do |event| %>
    <% inv = event.invoices.empty? ? nil : event.invoices[0] %>
    <tr>
      <td class="list"><%= (event.eventdates.size > 0) ? event.eventdates[0].startdate.strftime('%D') : 'unknown' %></td>
	  <td class="list"><%= event.organization.name %></td>
      <td class="list"><%= link_to(event.title, event_path(event)) %></td>
      <td class="list">
<%= !inv ?
  link_to("create", new_invoice_url(:event_id => event.id)) :
  link_to(number_to_currency(inv.total), inv) %>
      </td>
      <td class="list">
        <% if inv and inv.journal_invoice %>
          <%= link_to(inv.journal_invoice.date.strftime('%D'), {:action => "view", :controller => "journal", :id => inv.journal_invoice.id}) %>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>

<%= will_paginate @events %>