<h1>Listing accounts</h1>

<table class="generic">
  <tr>
    <th>Name</th>
    <th>Is credit</th>
    <th>Position</th>
    <th>&nbsp;</th>
    <% if can? :update, Account or can? :destroy, Account %>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    <% end %>
 </tr>

<% for account in @accounts %>
  <tr>
    <td><%=h account.name %></td>
    <td><%=h account.is_credit %></td>
    <td><%=h account.position %></td>
    <td><%= link_to 'Show', account %></td>
    <% if can? :update, Journal or can? :destroy, Journal %>
      <td><%= conditional_link_to 'Edit', edit_account_path(account), :update, account %></td>
      <td><%= conditional_link_to_delete 'Destroy', account, :destroy, account %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if can? :create, Account %>
  <% content_for :more do %>
    <li><%= link_to 'New account', new_account_path %></li>
  <% end %>
<% end %>
