<style>
td { vertical-align: top; }
</style>

<form method="get" action="<%= list_accounts_path %>">
  <h2>
    Finances for <%= text_field_tag 'start', (@accstart) %> through <%= text_field_tag 'end', (@accend) %>.
    <%=submit_tag 'Go'%>
  </h2>
</form>
<table class="accounts">
  <tr><td>
    <%= render :partial => "list", :locals => {:is_credit => true} %>
  </td><td>
    <%= render :partial => "list", :locals => {:is_credit => false} %>
  </td></tr>
</table>
