<% total = 0%>

<table>
  <tr class="listheader">
    <th class="list">ID</th>
    <th class="list">Invoice</th>
    <th class="list">Event</th>
    <th class="list">Organization</th>
    <th class="list">Event</th>
    <th class="list">Amount</th>
    <th class="list">Contact</th>
    <th class="list">Oracle</th>
  </tr>

  <% tmp = false; %>
  <% @journals.sort_by{|x| x.date }.each do |journal| %>
    <% total += journal.amount %>
	<tr class="<%= tmp ? "listentry1" : "listentry2" %>">
      <% event = journal.invoice ? journal.invoice.event : nil %>
      <td class="list"><%= event ? event.id : "" %></td>
      <td class="list"><%= journal.date.strftime('%D') %></td>
      <td class="list"><%= event ? event.eventdates[0].startdate.strftime("%D") : "" %></td>
      <td class="list"><%= event ? event.organization.name : "" %></td>
      <td class="list"><%= event ? event.title : "" %></td>
      <td class="list"><%= number_to_currency journal.amount %></td>
      <td class="list"><%= event ? event.contactemail : "" %></td>
      <td class="list"><%= journal.invoice ? journal.invoice.oracle_string : "" %></td>
    </tr>
    <% tmp = !tmp %>
  <% end %>

</table>
Total: <%= number_to_currency total %><br>
