<% form_tag({:action => "confirm_paid"}) do %>
<% total = 0 %>

<%= link_to("Printable list", :action => "unpaid_print")%>

<table>

  <tr class="listheader">
    <th class="list">Inv ID</th>
    <th class="list">Date</th>
    <th class="list">Memo</th>
    <th class="list">Amount</th>
    <th class="list">Post Date</th>
  </tr>

  <% tmp = false; %>
  <% @journals.sort_by{|x| x.date }.each do |journal| %>
  	<% total = total + journal.amount %>
    <tr class="<%= tmp ? "listentry1" : "listentry2" %>">
      <td class="list"><%= if journal.invoice then journal.invoice.event.id else "" end %></td>
      <td class="list"><%= journal.date.strftime('%A, %B %d %Y') %></td>
	  <td class="list"><% if journal.invoice %><%= link_to(journal.memo, {:controller => "invoice", :action => "view", :id => journal.invoice.id}) %><% else %><span title="<%=h journal.memo %>"><%= journal.memo[0..10] %></span><% end %></td>
      <td class="list"><%= number_to_currency journal.amount %></td>
      <td class="list"><%= text_field_tag("date[#{journal.id}]") %></td>
    </tr>
    <% tmp = !tmp %>
  <% end %>

  <tr>
    <td colspan="5" align="right"><%= submit_tag("mark paid") %></td>
  </tr>

</table>
Total = <%= number_to_currency total %>
<% end %>
